<html lang="en">
<head>
<meta charset="UTF-8">
<title>Page Not Found </title>
<script src="https://use.fontawesome.com/fa1e9b250e.js"></script>
<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Lemonada');
        @import url('https://fonts.googleapis.com/css?family=Caveat');
        body{
            background-color: #607D8B;
            text-align: center;
        }
        body .fa{
            margin-top: 0.5em;
            color: #fff;
            font-size: 5em;
            text-shadow: 2px 5px #272634;
        }
        .numero{
            font-family: 'Lemonada', cursive;
            color: #fff;
            font-size: 10em;
            margin-top: -0.4em;
            text-shadow: 5px 5px #272634;
        }
        .leyenda{
            font-family: 'Caveat', cursive;
            color: #504b4b;
            font-size: 2.6em;
            margin-top: -0.9em;
        }
</style>
</head>
   <body>

        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

        <div class="numero">
            404
        </div>

        <div class="leyenda">
            Sorry! Page not found
        </div>
        <!-- Error Page -->
</body>
</html>