 <html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
			<h2>About us</h2>
		<div class="row">
			<div class="col-md-8">
				<table border="1" style="background-color: #000;color: #fff;box-shadow: 30px solid #e2e2e2;">
					<thead>
						<th style="padding: 5px;">Name</th>
						<th style="padding: 5px;">Designation</th>
						<th style="padding: 5px;">Email</th>
						<th style="padding: 5px;">Message</th>
					</thead>
						<% console.log("User Data" + users.count); 
							for (val in users) { %>
							    <tr>
									<td style="padding: 5px;"><%= users[val].name %></td>
									<td style="padding: 5px;"><%= users[val].designation %></td>
									<td style="padding: 5px;"><%= users[val].email %></td>
									<td style="padding: 5px;"><%= users[val].message %></td>
									<td style="padding: 5px;"><img src="image/<%= users[val].image %>" alt="img" height="50px" width="100px"></td>
								</tr>
						<%
							}
						%>
				</table>
			</div>
		</div>
	</div>
</body>
</html>