
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="css/custum.css">
    <link rel="stylesheet" type="text/css" href="css/Dashboard.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <!--  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet"> -->
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 

      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
  
  </head>
  <body>

    <!-- container fluid begins -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <% include ./sidebar.ejs %>
        </div>
        <!-- col-md-3 closed -->

        <div class="col-md-9">

          <div class="displayArea_user_dashboard" id="user_dashboard">
            <% include ./dashboard.ejs %>
          </div>

          <div class="display_area_add_pages" id="add_new_page" style="display: none;">
            <% include ./add_new_page.ejs %>
          </div>
          <div class="displayArea_viewAll_pages" id="view_all" style="display: none;">
            <% include ./view_all_pages.ejs %>
          </div>

          <div class="displayArea_add_new_post" id="add_new_post" style="display: none;">
            <% include ./add_post_page.ejs %>
          </div>
          <div class="displayArea_view_all_post" id="view_all_post" style="display: none;">
            <% include ./view_all_post.ejs %>
          </div>
        </div>
        <!-- col-md-9 closed --> 
      </div>
      <!-- row end -->       
    </div>
    <!-- container fluid end -->

    <!-- <script src='http://code.jquery.com/jquery-latest.js'></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <script type="text/javascript">
        $(function () {
          'use strict';

          (function () {
            var aside = $('.side-nav'),
                showAsideBtn = $('.show-side-btn'),
                contents = $('#contents');
            showAsideBtn.on("click", function () {
              $("#" + $(this).data('show')).toggleClass('show-side-nav');
              contents.toggleClass('margin');
            });

            if ($(window).width() <= 767) {
              aside.addClass('show-side-nav');
            }
            $(window).on('resize', function () {
              if ($(window).width() > 767) {
                aside.removeClass('show-side-nav');
              }
            });

            // dropdown menu in the side nav
            var slideNavDropdown = $('.side-nav-dropdown');
            $('.side-nav .categories li').on('click', function () {
              $(this).toggleClass('opend').siblings().removeClass('opend');
              if ($(this).hasClass('opend')) {
                $(this).find('.side-nav-dropdown').slideToggle('fast');
                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
              } else {
                $(this).find('.side-nav-dropdown').slideUp('fast');
              }
            });

            $('.side-nav .close-aside').on('click', function () {
              $('#' + $(this).data('close')).addClass('show-side-nav');
              contents.removeClass('margin');
            });
          }());
        });
    </script>
    <script type="text/javascript">
      CKEDITOR.replace('editor_glad', {
          skin: 'moono',
          enterMode: CKEDITOR.ENTER_BR,
          shiftEnterMode:CKEDITOR.ENTER_P,
          toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
                     { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
                     { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
                     { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
                     { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
                     { name: 'links', items: [ 'Link', 'Unlink' ] },
                     { name: 'insert', items: [ 'Image'] },
                     { name: 'spell', items: [ 'jQuerySpellChecker' ] },
                     { name: 'table', items: [ 'Table' ] }
                     ],
        });
      CKEDITOR.replace('editor_content', {
          skin: 'moono',
          enterMode: CKEDITOR.ENTER_BR,
          shiftEnterMode:CKEDITOR.ENTER_P,
          toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
                     { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
                     { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
                     { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
                     { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
                     { name: 'links', items: [ 'Link', 'Unlink' ] },
                     { name: 'insert', items: [ 'Image'] },
                     { name: 'spell', items: [ 'jQuerySpellChecker' ] },
                     { name: 'table', items: [ 'Table' ] }
                     ],
        });
    </script>
    <script type="text/javascript">
      CKEDITOR.replace('editor_contents', {
          skin: 'moono',
          enterMode: CKEDITOR.ENTER_BR,
          shiftEnterMode:CKEDITOR.ENTER_P,
          toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
                     { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
                     { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
                     { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
                     { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
                     { name: 'links', items: [ 'Link', 'Unlink' ] },
                     { name: 'insert', items: [ 'Image'] },
                     { name: 'spell', items: [ 'jQuerySpellChecker' ] },
                     { name: 'table', items: [ 'Table' ] }
                     ],
        });
      CKEDITOR.replace('editor_message', {
          skin: 'moono',
          enterMode: CKEDITOR.ENTER_BR,
          shiftEnterMode:CKEDITOR.ENTER_P,
          toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
                     { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
                     { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
                     { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
                     { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
                     { name: 'links', items: [ 'Link', 'Unlink' ] },
                     { name: 'insert', items: [ 'Image'] },
                     { name: 'spell', items: [ 'jQuerySpellChecker' ] },
                     { name: 'table', items: [ 'Table' ] }
                     ],
        });
    </script>
    
  </body>
</html>
