<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Home-Page</title>
    <!-- Favicon -->
    <link rel="icon" href="img\fav-icon.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="frontend/style.css">
    <link rel="stylesheet" href="frontend/css/mobile-custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>  
<body>
    <section class="top_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo_here">
                        <img src="frontend/img/hPage-logo-horz.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="space_here">&nbsp;
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="call_us">
                        <h2>Call For Free Information 
                            <a href="#">Call 1-800-INVENTION</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area1">
            <div class="classy-nav-container header1 breakpoint-off">
                <div class="container header_container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar header1 justify-content-between skug_header_nav" id="robertoNav">
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <%
                                        for(val in all_nav_menu_data) {   
                                            var name = all_nav_menu_data[val].page_name;
                                            var psge_slug = all_nav_menu_data[val].page_slug;
                                            var category = all_nav_menu_data[val].post_category;
                                            var category_slug = all_nav_menu_data[val].category_slug;

                                            for (val_in in name) {
                                    %>   
                                                <li ><a href="/frontend/index-page-info?page_url=<%= psge_slug[val_in] %>"><%= name[val_in] %></a></li>
                                    <%      
                                            }
                                            for (val_cat in category) {
                                    %>
                                                <li><a href="<%= category_slug[val_cat] %>"> <%= category[val_cat] %></a></li>
                                    <%
                                            }
                                        } 
                                    %>
                                    <!-- <li><a href="#">About</a> -->
                                        <!-- <ul class="dropdown">
                                            <li><a href="#"> Honest Invention </a></li>
                                            <li><a href="#"> InventHelp FAQ</a></li>
                                            <li><a href="#"> Community Service</a></li>
                                            <li><a href="#"> InventHelp Store</a></li>
                                        </ul> -->
                                    <!-- </li> -->
                                    <!-- <li><a href="#">Invention Services</a> -->
                                        <!-- <ul class="dropdown">
                                           <li><a href="#">Get Started</a></li>
                                           <li><a href="#">Virtual Invention </a></li>
                                           <li><a href="#">Prototype Model</a></li>
                                           <li><a href="#">Invention Patent </a></li>
                                           <li><a href="#">Virtual Invention </a></li>
                                        </ul> -->
                                    <!-- </li> -->
                                    <!-- <li><a href="#">Inventor Resources</a> -->
                                        <!-- <ul class="dropdown">       
                                            <li><a href="#">Website Design</a></li>
                                            <li><a href="#">Website Devlopment</a></li>
                                            <li><a href="#">Digital Marketing</a></li>
                                            <li><a href="#">Website Hosting</a></li>
                                            <li><a href="#">- Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    <!-- </li> -->
                                    <!-- <li><a href="#">Inventor Stories</a></li> -->
                                    <!-- <li><a href="#">For Companies</a></li> -->
                                    
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Banner Begins Here -->
    <section class="banner_section_here">
        <div class="container-fluid">
            <div class="banner_img_here">
                <img src="frontend/img/Hero-Hompage-GF.png">
            </div>
        </div>
    </section>
    <!-- Banners End Here -->
    <!-- Our Process Sections Begins -->
    <!-- Footer Area Start -->
    <footer class="footer-area section-padding-80-0">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row align-items-baseline justify-content-between">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-80">
                           <h5 class="widget-title">About Us</h5>
                           <ul class="footer_links">
                               <li><a href="#">Birth Philosophy</a></li>
                               <li><a href="#">Our Team</a></li>
                               <li><a href="#">Our Approach</a></li>
                               <li><a href="#">Our Technology</a></li>
                               <li><a href="#">Our Capabilities</a></li>
                               <li><a href="#">Our Solution</a></li>
                               <li><a href="#">Support System</a></li>
                               <li><a href="#">Our Values</a></li>
                               <li><a href="#">Our Partners</a></li>
                               <li><a href="#">? Why Choose Us</a></li>
                                <li></li>
                           </ul>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-80">
                            <h5 class="widget-title">Services</h5>
                            <ul class="footer_links">
                               <li><a href="#">Website Design</a></li>
                               <li><a href="#">Website Devlopment</a></li>
                               <li><a href="#">Digital Marketing</a></li>
                               <li><a href="#">Website Hosting</a></li>
                            </ul>
                               <h5 class="widget-title">Others Links</h5>
                               <ul class="footer_links">
                               <li><a href="#">Portfolio</a></li>
                               <li><a href="#">Career</a></li>
                               <li><a href="#">Contact Us</a></li>
                               <li><a href="#">Testimonilas</a></li>
                           </ul>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Packages</h5>
                            <ul class="footer_links">
                               <li><a href="#">Vacation Rentals</a></li>
                               <li><a href="#">Ecommerce</a></li>
                               <li><a href="#">Custom Packages</a></li>
                           </ul>
                            <ul class="footer_links">
                               <h5 class="widget-title">Quick Contact</h5>
                               <li><a href="telephone-link">+1-612-808-9007</a></li>
                               <li><a href="mail-to">support@skuginsights.com</a></li>
                           </ul>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-8 col-lg-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Facebook</h5>
                                <img src="img/bg-img/icon_img2.jpg" alt="image-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="container">
            <div class="copywrite-content">
                <div class="row align-items-center">
                    <div class="col-12 col-md-8">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <a href="https://skuginsights.com" target="_blank"> Skug Insights</a></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- Popper -->
    <script src="frontend/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="frontend/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="frontend/js/roberto.bundle.js"></script>
    <!-- Active -->
    <script src="frontend/js/default-assets/active.js"></script>
</body>
</html>