<html>
<head>
<title>First Node js Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/custum.css">
  <link rel="stylesheet" type="text/css" href="js/nav.js">
<style>
            ul a{
                list-style: none;
            }
          
            /*Image Zoom on Hover*/
            .zoom {
            transition: transform .2s; /* Animation */
            }

          .zoom:hover {
            transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }
          /*nav bar on hover in column*/
            .column a:hover {
              background-color: #ddd;
            }
            .navbar-nav > li:hover .dropdown-menu {
                
                display: inline-block;
                width: 600%;
               
            }            .navbar-nav > li .dropdown-menu li  {
                
                float: left;
                width: 26%;
               margin:10px 20px;
               background-color: #e2e2e2;
            }           .navbar-nav > li .dropdown-menu li:hover  {

               background-color: #ff0000;
            }
              .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
                
               color: #000;
               
            }

            .navbar-inverse{
              border-right: 0;
              border-top: 0;
              border-left: 0;
              border-bottom: 1px solid #eee;
            }

         
</style>

</head>
<body>
    <!-- header -->
  <section class="header_section">
  <nav class="navbar navbar-inverse" style="background-color: transparent;">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="index">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/register-here">SignUp</a></li>
        <li class="dropdown" style="background:none"><a href="#">pageName &nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%  for (val in pagedata) { %>
              <li class="column"><a href="<%= pagedata[val].pageName %>"><%= pagedata[val].pageName %></a></li>
            <% } %>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</section>
<!--Slider-->
<section class="slider_section">
<div class="container-fluid" style="padding: 0;margin: 0">
 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="image/ig1.jpg" alt="img" style="width:100%;height: 450px">
        <div class="carousel-caption">
         
        </div>
      </div>

      <div class="item">
        <img src="image/ig2.jpg" alt="img" style="width:100%;height: 450px">
        <div class="carousel-caption">
          
        </div>
      </div>
    
      <div class="item">
        <img src="image/ig3.jpg" alt="img" style="width:100%;height: 450px">
        <div class="carousel-caption">
<!--
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
-->
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</section>
<!--slider-->
<!--Our Services-->
<section class="Services_section">
    <div class="container">
            <center><h2>Our Services</h2></center>
           
        <div class="row">
              <%  
                for (val in pagedata) {
                <!-- console.log(pagedata[val].gallery.length);   -->
              %>
            <div class="col-md-3">
                <h1 style="color: FD874C"><%= pagedata[val].name %></h1>
                <img src="image/<%= pagedata[val].featuredImaeg %>" alt="img" class = "img-responsive zoom" width="262px" height="150px">
                <p style="text-align: justify"><%= pagedata[val].contents %></p>
                
            </div>
            <% } %>
        </div>
    </div>
</section>
<!--Our Services End Here-->
<!--Gallery Sexction Start here-->
<section class="gallery_section">
  <div class="container">
    <h1 style="color: #FD874C;"><u>Gallery Image</u></h1>
    <div class="row">
       <%  
        for (val in pagedata) {
          console.log(pagedata[val].gallery.length);  
        %>
        <%
            for(val_i in pagedata[val].gallery) {
        %>
      <div class="col-md-3">
          <img src="image/<%= pagedata[val].gallery[val_i] %>" alt="img"  width="262px" class="zoom" height="150px" style="margin-top: 25px;">
      </div> 
      <%
          }
        %>
        <%
          }
        %>     
    </div>
  </div>
</section>
<!--Contents -->
<section class="Contents_section" >
    <div class="container">
        <div class="col-md-12">
            <center><h2>Contents</h2></center>
            <p>Ever wonder why few businesses get press and your business doesn’t? Getting customers to pay attention to your brand seems like an impossible mystery to solve. There are times you might see your competitors offer make-believe services that you know is wrong, or one that you could deliver on better. In fact, it’s not you. And most of the times, it’s not your services, product nor your business ability - It’s The Approach. With an arsenal of creative gamut backed by creditable experience, Skug Insights have foolproof ways to highlight your brand - approaches that make customers unable to resist you. In an era of Digital Darwinism</p>
        </div>
    </div>
</section>
    <!--Contents-->
    <div style="height: 20px;">&nbsp;</div>
    <!-- Footer -->
<section class="footer_section">
    <footer class="page-footer font-small blue pt-4" style="background: black">
    <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <div style="height: 20px;">&nbsp;</div>
      <!-- Grid row -->
            <div class="row">
<!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                     <h5 class="text-uppercase" style="color: aliceblue">Links</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">Link 1</a>
                      </li>
                      <li>
                        <a href="#!">Link 2</a>
                      </li>
                      <li>
                        <a href="#!">Link 3</a>
                      </li>
                      <li>
                        <a href="#!">Link 4</a>
                      </li>
                    </ul>
                 </div>
                 <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
                        <h5 class="text-uppercase" style="color: aliceblue">Links</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">Link 1</a>
                      </li>
                      <li>
                        <a href="#!">Link 2</a>
                      </li>
                      <li>
                        <a href="#!">Link 3</a>
                      </li>
                      <li>
                        <a href="#!">Link 4</a>
                      </li>
                    </ul>
                </div>
          <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
                     <h5 class="text-uppercase" style="color: aliceblue">Links</h5>

                     <ul class="list-unstyled">
                      <li>
                        <a href="#!">Link 1</a>
                      </li>
                      <li>
                        <a href="#!">Link 2</a>
                      </li>
                      <li>
                        <a href="#!">Link 3</a>
                      </li>
                      <li>
                        <a href="#!">Link 4</a>
                      </li>
                    </ul>
                </div>
          <!-- Grid column -->
            </div>
      <!-- Grid row -->
                <div style="height: 20px;">&nbsp;</div>
        </div>
    <!-- Footer Links -->
            <div class="footer-copyright text-center py-3" style="color: aliceblue">© 2019 Copyright:
              <a href="https://www.skuginsights.com/">SKUG Insights pvt. ltd.</a>
            </div>
            <!-- Copyright -->
    </footer>
</section>
  <!-- Footer -->
</body>
</html>