<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="css/custum.css">
    <link rel="stylesheet" type="text/css" href="css/Dashboard.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <!--  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet"> -->
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 

      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
    <script>
        function post_name_url(obj)
        {
            var value = obj.value;
            value = value.replace(/\s+/g, "-").toLowerCase();
           document.getElementById('page_url').value = value;  
        }
    </script>
  
  </head>
  <body>
	<!-- main -->
	<div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <% include ./sidebar.ejs %>
        </div>
	        <div class="col-md-9">
				<div class="main-w3layouts wrapper">
					<h1>Page Data Update Here</h1>
					<div class="main-agileinfo">
						<div class="agileits-top">
							<!--Form 1 Normal Registration Form begins here -->
							<form action="/page-data-update" id="frmUploader" enctype="multipart/form-data" method="post">
								<% for(val in pagedata) { %>
								
								<span style="color: #fff">Page Name*</span>
								<input class="text" class="form-control" style="border: 1px solid #e2e2e2;" type="text" onchange="post_name_url(this)" id="TextBox1" name="pageName" value="<%= pagedata[val].pageName %>" placeholder="Enter page name here.." runat="server">
								
								<input type="hidden" name="id" value="<%= pagedata[val]._id %>">
								<div style="clear: both;height: 25px;">&nbsp;</div>


								<span style="color: #fff">Page URL*</span>
								<input class="text" id="page_url" runat="server" type="text" style="border: 1px solid #c2c2c2;" name="pageUrl" value="<%= pagedata[val].URL %>" placeholder="Enter page url here.." >
								<div style="clear: both;height: 25px;">&nbsp;</div>


								<span style="color: #fff">Featured image*</span>
								<input class="text" type="file" style="border: 1px solid #c2c2c2;" name="imgUploader" value="image/<%= pagedata[val].featuredImaeg %>" >
								<p style="position: absolute;margin: -36px 290px;">
								<img src="image/<%= pagedata[val].featuredImaeg %>" alt="img" width="50px" height="50px"></p>
								<div style="clear: both;height: 25px;">&nbsp;</div>


								<span style="color: #fff">Contents*</span>
								<textarea name="content" id="editor_content"  cols="30" rows="10" ><%= pagedata[val].contents %></textarea>
								<div style="clear: both;height: 25px;">&nbsp;</div>


								<span style="color: #fff">Gallery image*</span>
								<input class="text" type="file" name="imgUploader" value="<%= pagedata[val].gallery %>" style="background-color: transparent;width: 96%;" multiple/>
								<div class="image_icon">
									<% for(val_in in pagedata[val].gallery) { %>
									<p style="float: left;"><img src="image/<%= pagedata[val].gallery[val_in] %>" alt="img" width="50px" height="50px"></p>
									<% } %>
								</div>
								<div style="clear: both;height: 25px;">&nbsp;</div>


								<span style="color: #fff">Page Description*</span>
								<textarea name="message" id="editor_gad" cols="30" rows="10" placeholder="Enter your message here..."><%= pagedata[val].message %></textarea>
								<div class="wthree-text">
									<div class="clear"> </div>
								</div>
								<div style="clear: both;height: 25px;">&nbsp;</div>
								<input type="submit"  class="form-control" name="submit" id="btnSubmit" value="submit">
								<% } %>
							</form>
							<!--Form 1 Normal Registration Form begins here -->
						</div>
					</div>
					<!-- <div>
						<p><a href="/show">Show here</a></p>
					</div> -->
					<!-- copyright -->
					<div class="colorlibcopy-agile">
						<p></p>
					</div>
					<ul class="colorlib-bubbles">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //main -->
	  <script type="text/javascript">
        $(function () {
          'use strict';

          (function () {
            var aside = $('.side-nav'),
                showAsideBtn = $('.show-side-btn'),
                contents = $('#contents');
            showAsideBtn.on("click", function () {
              $("#" + $(this).data('show')).toggleClass('show-side-nav');
              contents.toggleClass('margin');
            });

            if ($(window).width() <= 767) {
              aside.addClass('show-side-nav');
            }
            $(window).on('resize', function () {
              if ($(window).width() > 767) {
                aside.removeClass('show-side-nav');
              }
            });

            // dropdown menu in the side nav
            var slideNavDropdown = $('.side-nav-dropdown');
            $('.side-nav .categories li').on('click', function () {
              $(this).toggleClass('opend').siblings().removeClass('opend');
              if ($(this).hasClass('opend')) {
                $(this).find('.side-nav-dropdown').slideToggle('fast');
                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
              } else {
                $(this).find('.side-nav-dropdown').slideUp('fast');
              }
            });

            $('.side-nav .close-aside').on('click', function () {
              $('#' + $(this).data('close')).addClass('show-side-nav');
              contents.removeClass('margin');
            });
          }());
        });
    </script>
	<script type="text/javascript">
			CKEDITOR.replace('editor_gad', {
			  skin: 'moono',
			  enterMode: CKEDITOR.ENTER_BR,
			  shiftEnterMode:CKEDITOR.ENTER_P,
			  toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
			             { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
			             { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
			             { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
			             { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
			             { name: 'links', items: [ 'Link', 'Unlink' ] },
			             { name: 'insert', items: [ 'Image'] },
			             { name: 'spell', items: [ 'jQuerySpellChecker' ] },
			             { name: 'table', items: [ 'Table' ] }
			             ],
			});
			CKEDITOR.replace('editor_content', {
			  skin: 'moono',
			  enterMode: CKEDITOR.ENTER_BR,
			  shiftEnterMode:CKEDITOR.ENTER_P,
			  toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
			             { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
			             { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
			             { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
			             { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
			             { name: 'links', items: [ 'Link', 'Unlink' ] },
			             { name: 'insert', items: [ 'Image'] },
			             { name: 'spell', items: [ 'jQuerySpellChecker' ] },
			             { name: 'table', items: [ 'Table' ] }
			             ],
			});

	</script>
</body>
</html>