<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Home-Page</title>
    <!-- Favicon -->
    <link rel="icon" href="img\fav-icon.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/mobile-custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>  
<body>
    <section class="top_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo_here">
                        <img src="img/hPage-logo-horz.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="space_here">&nbsp;
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="call_us">
                        <h2>Call For Free Information 
                            <a href="#">Call 1-800-INVENTION</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area1">
            <div class="classy-nav-container header1 breakpoint-off">
                <div class="container header_container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar header1 justify-content-between skug_header_nav" id="robertoNav">
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <%
                                        for(val in all_nav_menu_data) {   
                                            var name = all_nav_menu_data[val].page_name;
                                            var psge_slug = all_nav_menu_data[val].page_slug;
                                            var category = all_nav_menu_data[val].post_category;
                                            var category_slug = all_nav_menu_data[val].category_slug;

                                            for (val_in in name) {
                                    %>   
                                                <li ><a href="/frontend/index-page-info?page_url=<%= psge_slug[val_in] %>"><%= name[val_in] %></a></li>
                                    <%      
                                            }
                                            for (val_cat in category) {
                                    %>
                                                <li><a href="<%= category_slug[val_cat] %>"> <%= category[val_cat] %></a></li>
                                    <%
                                            }
                                        } 
                                    %>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
        <!-- Banner Begins Here -->
        <section class="Bradcrum_section">
            <div class="container">
                <div class="row">
                    <div class="Bradcrum_heading">
                        <% 
                    for(val in pagedata){
                        %>
                        <h2><%= pagedata[val].pageName %></h2><h2 class="slash_space">/</h2><h2><%= pagedata[val].page_template %></h2>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    <section class="banner_section_here">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                        <% 
                            for(val in pagedata){
                        %>
                    <div class="short_description">
                        <p><%= pagedata[val].contents %></p>
                    </div>
                    <% } %>
                </div>
                <div class="col-md-4">
                        <% 
                            for(val in pagedata){
                        %>
                    <div class="banner_img_here">
                        <img src="/backend/image/<%= pagedata[val].featuredImaeg %>">
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery_section">
        <div class="gallery_heading">
            <h2>Gallery</h2>
        </div>
        <div class="container">
            <div class="row">
                <%
                    for(val in pagedata)
                    {
                        for(val_i in pagedata[val].gallery) 
                        {
                 %>
                <div class="col-md-3" style="padding: 1% 0;">
                    <div class="gallery_img">
                        <img src="/backend/image/<%= pagedata[val].gallery[val_i] %>" alt="img"  class="img-responsive zoom" style="height: 150px;">
                    </div>
                </div>
                <%
                    }   }
                 %>
            </div>
        </div>
    </section>
    <section class="full_description_section">
        <div class="description_headings">
            <h2>Description</h2>
        </div>
        <div class="container">
            <div class="row">
                <%
                    for(val in pagedata)
                    {
                 %>
                <div class="message_box">
                    <p><%= pagedata[val].message %></p>
                </div>
                <% } %>
            </div>
        </div>
    </section>
    <div style="clear: both;height: 25px;"></div>
    <!-- Banners End Here -->

    <!-- **** All JS Files ***** -->
    <!-- Popper -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="js/roberto.bundle.js"></script>
    <!-- Active -->
    <script src="js/default-assets/active.js"></script>
</body>
</html>