  <script>
    function add_new_pages() {
      var x = document.getElementById("add_new_page");
      var y = document.getElementById("view_all");
      var x1 = document.getElementById("add_new_post");
      var x2 = document.getElementById("view_all_post");
      var z = document.getElementById("user_dashboard");
      if (x.style.display == "none") {
        y.style.display = "none";
        x1.style.display = "none";
        x.style.display = "block";
        z.style.display = "none";
        x2.style.display = "none";
      }
    }

    function view_all_pages() {
      var x = document.getElementById("view_all");
      var y = document.getElementById("add_new_page");
      var x1 = document.getElementById("add_new_post");
      var x2 = document.getElementById("view_all_post");
      var z = document.getElementById("user_dashboard");
      if (x.style.display == "none") {
        y.style.display = "none";
        x.style.display = "block";
        x1.style.display = "none";
        x2.style.display = "none";
        z.style.display = "none";
      }
    }

    function user_dashboard() {
      var x = document.getElementById("user_dashboard");
      var y = document.getElementById("add_new_page");
      var x1 = document.getElementById("add_new_post");
      var x2 = document.getElementById("view_all_post");
      var z = document.getElementById("view_all");
        if (x.style.display == "none") {
          y.style.display = "none";
        x.style.display = "block";
        z.style.display = "none";
        x1.style.display = "none";
        x2.style.display = "none";
        
      }
    }

    function ad_new_post() {
      var x = document.getElementById("add_new_post");
      var x1 = document.getElementById("user_dashboard");
      var x2 = document.getElementById("view_all_post");
      var y = document.getElementById("add_new_page");
      var z = document.getElementById("view_all");
        if (x.style.display == "none") {
          y.style.display = "none";
        x.style.display = "block";
        z.style.display = "none";
        x1.style.display = "none";
        x2.style.display = "none";
        
      }
    }
     function view_all_post() {
      var x = document.getElementById("view_all_post");
      var x2 = document.getElementById("add_new_post");
      var x1 = document.getElementById("user_dashboard");
      var y = document.getElementById("add_new_page");
      var z = document.getElementById("view_all");
        if (x.style.display == "none") {
          y.style.display = "none";
        x.style.display = "block";
        z.style.display = "none";
        x1.style.display = "none";
        x2.style.display = "none";
        
      }
    }
  </script>

  <aside class="side-nav" id="show-side-navigation1">
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
    <ul class="categories">
      <li><i class="fa fa-file-o fa-fw"></i><a href="/admin-dashboard" onclick="user_dashboard()">Dashboard</a></li>
      <li><i class="fa fa-file-o fa-fw"></i><a href="#">Post</a>
         <ul class="side-nav-dropdown">
          <li><a href="/admin-dashboard" onclick="ad_new_post()">Add post page</a></li>
          <li><a href="/admin-dashboard" onclick="view_all_post()"> view all post</a></li>
        </ul>
      </li>
      <li><i class="fa fa-eye fa-fw" aria-hidden="true"></i><a href="#">Pages</a>
        <ul class="side-nav-dropdown">
          <li><a href="/admin-dashboard" onclick="view_all_pages()">View All Pages</a></li>
          <li><a href="/admin-dashboard" onclick="add_new_pages()"> Add Pages Here</a></li>
        </ul>
      </li>
    </ul>
  </aside>