<!DOCTYPE html>
<html>
<head>
<title>user Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/custum.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- web font -->

<!-- //web font -->
<style type="text/css">
	#user_table {
		display:none;
	}
</style>
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</head>
<body class="bodyclass">
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>User Profile</h1>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img src="image/<%= image %>" alt="img" height="100px" width="100px">
					<h4><%= username %></h4>
					<h4><%= email %></h4>
					<h4><%= designation %></h4>
					<h4><%= message %></h4>
				</div>
				<div class="col-md-9">
					<button onclick="myFunction()">Show All Record</button>
					<!-- <input type="submit" name="submit" id="divButton"> -->
					<div class="table-responsive" id="myDIV">
						<table class="table">
							<thead>
								<th style="padding: 5px;">Name</th>
								<th style="padding: 5px;">Designation</th>
								<th style="padding: 5px;">Email</th>
								<th style="padding: 5px;">Message</th>
							</thead>
								<%	for (val in users) { %>
								<tr>
									<td style="padding: 5px;"><%= users[val].name %></td>
									<td style="padding: 5px;"><%= users[val].designation %></td>
									<td style="padding: 5px;"><%= users[val].email %></td>
									<td style="padding: 5px;"><%= users[val].message %></td>
									<td style="padding: 5px;"><img src="image/<%= users[val].image %>" alt="img" height="50px" width="100px"></td>
								</tr>
								<%
									}
								%>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
		<!-- <div>
			<p><a href="/show">Show here</a></p>
		</div> -->
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p></p>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>