
  <%  for (val in pageData_content) { %>

    <div style="clear: both;height: 25px;">&nbsp;</div>
    <div class="row" style="background: #e2e2e2">
      <div style="clear: both;height: 25px;">&nbsp;</div>

      <div class="col-md-3">
        <div style="clear: both;height: 25px;">&nbsp;</div>
        <span>Title</span>
        <p style="padding: 5px 0;"><%= pageData_content[val].pageName %></p>
      </div>
      
      <div class="col-md-3">
        <div style="clear: both;height: 25px;">&nbsp;</div>
        <span>Featured image</span>
        <p style="padding: 5px 0;"><img src="image/<%= pageData_content[val].featuredImaeg %>" alt="imh" style="width: 100px;height: 30px;">
        </p>
      </div>

      <div class="col-md-3">
        <div style="clear: both;height: 25px;">&nbsp;</div>
        <span>Contents</span>
        <p style="padding: 5px 0;"><%= pageData_content[val].contents %>
        </p>
      </div>

      <div class="col-md-3">
        <div style="clear: both;height: 25px;">&nbsp;</div>
        <span>Action</span>
        <p style="padding: 5px 0;">
          <a href="/page-update:_id?pid=<%= pageData_content[val]._id %>&pname=<%= pageData_content[val].pageName %>"><button class="btn btn-sm button1">Edit</button>
          </a> /

          <a href="/page-delete?pid=<%= pageData_content[val]._id %>&pname=<%= pageData_content[val].pageName %>">
            <button class="btn btn-sm button2">Delete</button>
          </a> /

          <a href="<%= pageData_content[val].pageName %>">
            <button class="btn btn-sm button3">preview</button>
          </a> 
        </p>
      </div>     
    </div>
    <!-- page listing row end -->
    
  <% } %>