
  <%  for (val in post_page) { %>

    <div style="clear: both;height: 25px;">&nbsp;</div>
    <div class="row" style="background: #e2e2e2">
      <div style="clear: both;height: 25px;">&nbsp;</div>

      <div class="col-md-3">
        <div style="clear: both;height: 25px;">&nbsp;</div>
        <span>Title</span>
        <p style="padding: 5px 0;"><%= post_page[val].postName %></p>
      </div>
      
      <div class="col-md-3">
        <div style="clear: both;height: 25px;">&nbsp;</div>
        <span>Featured image</span>
        <p style="padding: 5px 0;"><img src="image/<%= post_page[val].featured_imaeg %>" alt="img" style="width: 100px;height: 30px;">
        </p>
      </div>

      <div class="col-md-3">
        <div style="clear: both;height: 25px;">&nbsp;</div>
        <span>Contents</span>
        <p style="padding: 5px 0;"><%= post_page[val].contents %>
        </p>
      </div>

      <div class="col-md-3">
        <div style="clear: both;height: 25px;">&nbsp;</div>
        <span>Action</span>
        <p style="padding: 5px 0;">
          <a href="/post-update?pid=<%= post_page[val]._id %>&pname=<%= post_page[val].postName %>"><button class="btn btn-sm button1">Edit</button>
          </a> /

          <a href="#">
            <button class="btn btn-sm button2">Delete</button>
          </a> /

          <a href="<%= post_page[val].postName %>">
            <button class="btn btn-sm button3">preview</button>
          </a> 
        </p>
      </div>     
    </div>
    <!-- page listing row end -->
    
  <% } %>