 * {
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'Droid Sans', sans-serif;
        outline: none;
      }
      ::-webkit-scrollbar {
        background: transparent;
        width: 5px;
        height: 5px;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #888;
      }
      ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
      /*body {background-color: #2a2b3d}*/
      #contents {
        position: relative;
        transition: .3s;
        margin-left: 290px;
        background-color: #2a2b3d;
      }
      .add_menu_item {
          padding: 7px 0;
          text-align: center;
          width: 40%;
          border: 1px solid;
          background: #000;
          color: #fff;
      }
      input.menu_item_fields {
        border: 1px solid #c2c2c2!important;
        width: 76%!important;
        border-radius: 4px;
        box-shadow: 0 0 2px #000;
        margin-bottom: 0.5em;
        padding: 6px 8px!important;
        background: #e5e5e5!important;
    }
    .selected_items {
        display: flex;
    }
    .selected_items a {
        padding: 7px;
        text-decoration: none;
    }
      .nav_items_box {
          display: flex;
          overflow-y: scroll;
          height: 9em;
      }
      .nav_items {
          width: 50%;
      }
      .nav_items_slug {
          width: 50%;
          padding-right: 4em;
      }
      div#selected_page input {
          border: 1px solid #c2c2c2;
          width: 76%;
          border-radius: 4px;
          box-shadow: 0 0 2px #000;
          padding: 0.5em;
          background: #e5e5e5;
      }
      .margin {
        margin-left: 0 !important;
      }
      .gallery-img.gallery_image_hide:last-child {
          display: none;
      }
      .input_fields_wrap input{
        height: 38px;
        width: 88%; 
        border:1px solid #c2c2c2;
      }
      .post_field{
        width: 100%!important;
        padding: 0.8%;
        border: 1px solid #e2e2e2!important;
      }
      .post_categories {
          overflow: scroll;
          max-height: 115px;
      }
      .post_url {
          color: #000!important;
          width: 100%!important;
          padding: 9px!important;
          border: 1px solid #e2e2e2!important;
      }
      input.feature_image {
          padding: 9px;
          border: 1px solid #e2e2e2;
          width: 100%;
      }
      select.template {
          padding: 10px;
          width: 100%;
          border: 1px solid #e2e2e2;
      }
      input.feature_image1 {
          width: 100%;
          margin: 0;
          padding: 7px;
          border: 1px solid #e2e2e2;
      }
      input.post_fieldq {
          width: 94%;
      }
      .preview_log img {
          width: 8em;
          height: 3em;
      }
      select.hidebtn.template1 {
          width: 100%;
          border: 1px solid #e2e2e2;
      }
      li.icon_removed i {
          margin-left: 10px;
      }
      .profile 
      {
          text-align: center;
          color: #aaa;
          text-transform: capitalize;
          margin-top: 12px;
          font-size: 14px;
          list-style: none;
          cursor: pointer;
      }
      li.profile_pic {
          border-bottom: 1px solid #50505d;
          border-top: 1px solid #50505d;
          padding: 5px;
      }
      li.logout {
          padding-top: 6px;
          cursor: pointer;
          border-bottom: 1px solid #50505d;
      }
      .show{
        display: block;
      }
      li.active_color {
          background-color: #fff;
      }
      ul.side-nav-dropdown.show li {
          padding: 5px 0;
      }
      .profile span {
          margin-left: 10px;
      }
      .heading_view_all_gallery{
        color: rgb(37, 38, 54);
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        margin-top: 0;
      }
      .add_new_gallery button {
          background: #252636;
          color: #fff;
          border: none;
          margin-top: 5px;
          padding: 8px 16px;
      }
      ul.categories {
          margin-top: 15px;
      }
      /* Start side navigation bar  */
      .side-nav .categories > li.icon_removed > a:after{
        display: none;
      }
      .side-nav {
          height: 710px;
          width: 100%;
          background-color: #252636;
          color: #CCC;
          position: relative;
      }
      .search_box{
        margin-left: 13em;
      }
      .search_box input {
          margin-top: 22px;
          padding: 6px 12px;
          border: 1px solid #252636;
      }
      .side-nav .close-aside {
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        color: #EEE;
      }
      .side-nav .heading {
        background-color: #252636;
        padding: 15px 15px 15px 30px;
        overflow: hidden;
        border-bottom: 1px solid #2a2b3c
      }
      .side-nav .heading > img {
        border-radius: 50%;
        float: left;
        width: 28%;
      }
      .side-nav .info {
        float: left;
        width: 69%;
        margin-left: 3%;
      }
      .side-nav .heading .info > h3 {margin: 0 0 5px}
      .side-nav .heading .info > h3 > a {
        color: #EEE;
        font-weight: 100;
        margin-top: 4px;
        display: block;
        text-decoration: none;
        font-size: 18px;
      }
      .side-nav .heading .info > h3 > a:hover {
        color: #FFF;
      }
      .side-nav .heading .info > p {
        color: #BBB;
        font-size: 13px;
      }
      .visit_web h1 {
          font-size: 14px;
          color: #aaa;
          text-align: end;
          font-weight: 600;
      }
      /* End heading */
      /* Start search */
      .side-nav .search {
        text-align: center;
        padding: 15px 30px;
        margin: 15px 0;
        position: relative;
      }
      .side-nav .search > input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #23262d;
        padding: 7px 0 7px;
        color: #DDD
      }
      .side-nav .search > input ~ i {
        position: absolute;
        top: 22px;
        right: 40px;
        display: block;
        color: #2b2f3a;
        font-size: 19px;
      }
      /* End search */

      .side-nav .categories > li {
        padding: 15px 0;
        overflow: hidden;
        border-bottom: 1px solid rgba(255, 255, 255, 0.23);
        cursor: pointer;
      }
      .side-nav .categories > li > a {
        color: #AAA;
        text-decoration: none;
        padding: 10px;
      }
      /* Start num: there are three options primary, danger and success like Bootstrap */
      .side-nav .categories > li > a > .num {
        line-height: 0;
        border-radius: 3px;
        font-size: 14px;
        color: #FFF;
        padding: 0px 5px
      }
      .dang {background-color: #f35959}
      .prim {background-color: #0275d8}
      .succ {background-color: #5cb85c}
      /* End num */
      /*.side-nav .categories > li > a:hover {
        color: #FFF
        background-color:000;
      }*/
      .side-nav .categories > li > i {
        font-size: 18px;
        margin-right: 5px
      }
      li.active_color.icon_removed a {
          color: #000!important;
      }
      .active_parent_color{
        background-color: #3db7e8;
      }
      li.active_parent_color.icon_removed a {
          color: #fff;
      }
      li.active_parent_color a {
          color: #fff!important;
      }
      .incurrect_password {
        color: #f50505;
      }
      .side-nav .categories > li > a:after {
        content: "\f053";
        font-family: fontAwesome;
        font-size: 11px;
        line-height: 1.8;
        padding-right: 3em;
        float: right;
        color: #AAA;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
      .side-nav .categories .opend > a:after {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
      /* End categories */
      /* Start dropdown menu */
      .side-nav .categories .side-nav-dropdown {
        padding-top: 10px;
        /*padding-left: 30px;*/
        list-style: none;
        display: none;
      }
      section.footer_section {
          background-color: #252636;
          padding: 10px 0;
          color: #aaa;
          /*margin:0px 0 10px 0;*/
      }
      .user_name span {
          padding: 10px;
      }
      .user_name a {
          color: #aaa;
          text-decoration: none;
      }
      .user_name a:hover {
          color: #aaa;
          text-decoration: none;
      }
      .active1{
        background-color: #fff;
      }
      .profile a {
          color: #aaa;
      }
      .profile a:hover {
          color: #aaa;
          text-decoration: none;
      }
      .user_role{
        padding-top: 10px;
      }
      .user_role span {
          padding: 5px;
      }
      span.role_type {
          font-size: 12px;
      }
      .headings1 h2 {
          margin-top: 2em;
          color: rgb(37, 38, 54);
      }
      .active01{
        background-color: #c2c2c2;
      }
      .add_new_gallery {
          margin-top: 10px;
      }
      .col-md-3.paddings {
          padding-left: 0;
          position: sticky;
          top: 0;
      }
      .icon_gap{
        margin-right: 10px;
      }
      span.dotted_line {
          padding: 5px;
          position: absolute;
          top: 4.7em;
          left: 12em;
          border: 2px solid #fff;
          border-radius: 15px;
          background: #06f910;
      }
      input.user_img {
          width: 100%;
          border: 1px solid #e2e2e2;
          padding: 7px;
      }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
          color: white !important;
          border: 1px solid #fff!important;
          background: #3db7e8!important;
      }
      .dataTables_wrapper .dataTables_paginate .paginate_button:active {
          background: #3db7e8!important;
          color: #fff!important;
      }
      .btn_box {
          display: flex;
          margin-bottom: 25px;
      }
      .headings h2 {
          margin-top: 23px;
          text-align: end;
      }
      section.header_section {
          background-color: #252636;
          padding: 20px 0;
         /* margin-left: 15px;
          margin-right: 15px;*/
      }
      .img_box img {
          height: 65px;
          width: 65px;
          border: 3px solid #c5c1c1;
          border-radius: 35px;
          box-shadow: 0px 0px 9px #c3c0c0;
      }
      select.publish {
          width: 100%;
          padding: 10px;
          border-radius: 8px;
          box-shadow: 0 0 10px #e2e2e2;
          border: 1px solid #e2e2e2;
      }
      div#escalation_filter input {
          padding: 5px 5px;
          border: 1px solid #dddddd;
      }
      table#escalation thead {
          background: #252636;
          color: #fff;
      }
      .side-nav .categories .side-nav-dropdown > li > a {
        color: #AAA;
        text-decoration: none;
        padding: 10px 0 0 15px;
        display: block;
      }
      .side-nav .categories p {
        margin-left: 30px;
        color: #535465;
        margin-top: 10px;
      }

      /* End dropdown menu */

      .show-side-nav {
        -webkit-transform: translateX(-290px);
        -moz-transform: translateX(-290px);
        transform: translateX(-290px);
      }
      .div_space{
        clear: both;
        height: 15px;
      }
      .breadcrumb_section{
        background-color: #D6D5DA;  
        }
        .breadcrumb_text{
          padding:5px 0;
          /*margin-left: 290px;*/
        }
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
          }
          .button1 {
              background-color: #39a9d7;
              color: #fff;
          }
          .copy_rights {
              font-size: 14px;
          }
          ul.profile_link {
            display: none;
            position: absolute;
            background: #252636;
            left: 4.1em;
            text-align: center;
            width: 61%;
            list-style: none;
            padding: 10px 20px;
          }
          .page-header {
              padding: 15px 15px 15px 15px!important;
              background: #f7f7f7;
              margin-top: 15px!important;
          }
          table#escalation td {
              color: #000;
          }
          div#escalation_length select {
              border: 1px solid #dad9d9;
              padding: 5px;
          }
          ul#myDIV li {
              padding-bottom: 5px;
          }
          .button1:hover {
              background-color: #54c8ff;
              color: white!important;
          }
          .form-group{
            margin-bottom: 0!important;
          }
          /*.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
            background-color: #40bae9!important;
            color: #fff!important;
          }
          */
          .button2 {
              background-color: red;
              color: white;
          }
          .button2:hover {
            background-color: #db2828;
            color: white;
          }
          .button3 {
            background-color: white; 
            color: black; 
            border: 2px solid #000;
            border-radius:5px;
          }
          .button2:hover {
              background-color: #db2828;
              color: white!important;
          }
          .button4 {
            background-color: white;
            color: #ffffff;
            border: 2px solid #c2c2c2;
            /* border-radius: 5px; */
            position: absolute;
            margin-left: 85.6%;
            margin-top: -38px;
            height: 38px;
            padding: 5px;
            background: #4b8cf4;
          }
          .button4:hover {
            background-color: #4b8cf4;
            color: #fff;
          }
           .add_button {  
            color: #fff;
            background-color: #4292f4;
            margin-left: 94%;
            margin-top: -38px;
            height: 37px;
          }
        .gallery-img {
          position: relative;
          display: inline-block;
        }

      .gallery-img:hover .delete_gallery {
        display: block;
      }

      .delete_gallery {
        padding-top: 7px; 
        padding-right: 7px;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
      }

      .delete_gallery a {
        color: #000;
      }
      .gallery-img {
          position: relative;
          display: inline-block;
        }

      .gallery-img:hover .edit_gallery {
        display: block;
      }

      .edit_gallery{
        padding-top: 7px; 
        padding-right: 7px;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
      }
      .edit_gallery{
        color: #000;
      }
      .post_update .last_hide input:last-child{
            display: none;
        }
        .show li.active_color a {
          color: #000!important;
      }
        @media (max-width: 767px) {
          .side-nav .categories > li {
            padding-top: 12px;
            padding-bottom: 12px;
          }
          .side-nav .search {
            padding: 10px 0 10px 30px
          }
        }
        /* End side navigation bar  */
