/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 15, 2018, 1:28:38 PM
    Author     : A5HUT05H
*/
.xyz> li>ul
{ display: none;
  position: absolute;
  list-style-type: none;
  right: -130px;
  line-height: 25px;
  
  width: 130px;
  box-shadow: 1px -2px 14px -2px grey;
  margin-top: -27px;
  background-color: white;
    
}

.xyz li :hover >ul 
{
    display:block;
    
}

.dropdown-menu li ul li: hover
{ background-color: hsla(0, 0%, 0%, 0.05);
    
}
