body{
	    font-family: source-sans-pro,Helvetica,sans-serif;
}
.skug_header_nav{
	height: auto;
}
.single-welcome-slide {
    width: 100%;
    height: 550px;
}
.for_space{
	clear: both;
	height: 45px;
}
section.welcome_to_skug_section {
    padding: 3% 0 3.7% 0;
    text-align: center;
}
.first_headding h1{
 	color: #31a9df;
}
.single-project-slide {
    position: relative;
    z-index: 1;
    height: 303px;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    /* border-left: 1px solid rgba(255, 255, 255, 0.2); */
}
.single-project-slide .project-content .text h6 {
    color: #ffffff;
    font-size: 20px;
}
.classy-nav-container .classy-navbar .classynav ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #2a303b;
    font-weight: 500;
    padding: 0 15px;
}
.single-project-slide .hover-effect{
	transition-duration: 500ms;
}
.single-project-slide .hover-effects {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    color: #31a9df;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
}
.single-project-slide .hover-effects .project-btn {
    font-size: 16px;
    padding: 0 30px;
    display: block;
    background-color: #31a9df;
    border-radius: 0;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    height: 100px;
    width: 100%;
    line-height: 100px;
}
.text_color h6{
	color: #31a9df;
}
.our_company_process_image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    height: 245px;
    border: 2px solid #fff;
}
header.header-area {
    background-color: #005aa6;
    color: #fff;
}

.background_color{
	background-color: #000000ad;
    background-color: #000000ad;
    padding: 4% 0 4% 0;
}
section.roberto-project-area {
    padding: 0 0 1% 0;
}
.section-heading h2{
	color: #fff;
}
.section-heading p{
	margin: 3% 0 2% 0;
	color: #fff;
}

.premium_col {
    background-color: #31a9df;
    text-align: center;
    padding: 3% 0 0 0;
}
.star_col {
    background-color: #31a9df;
    text-align: center;
    padding: 3% 0 0 0;
}
.gold_col {
    background-color: #31a9df;
    text-align: center;
    padding: 3% 0 0 0;
}
.classy-nav-container .classy-navbar .classynav ul li a {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px 50px 20px;
    font-size: 16px;
}
.classynav ul li.megamenu-item > a:after, .classynav ul li.has-down > a:after {
    font-family: 'classyfonts';
    content: none!important;
    font-size: 12px;
    color: #000000;
    padding-left: 5px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.breakpoint-off .classynav ul li .dropdown {
    width: 180px;
    position: absolute;
    background-color: rgb(0, 90, 166);
    top: 120%;
    left: 0;
    z-index: 100;
    height: auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    opacity: 0;
    color: #fff;
    visibility: hidden;
     padding: 0px; 
}
.breakpoint-off .classynav ul li .dropdown, .breakpoint-off .classynav ul li .megamenu {
    width: 210px;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
     border-radius: 0px !important; 
}
.container.header_container {
    padding: 0;
    margin: 0;
}
.classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a {
    font-size: 14px;
    text-transform: capitalize;
    height: 42px;
    line-height: 42px;
    padding: 0 30px;
    color: #fff;
}
.classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover {
    background-color: #ff7c00;
    font-weight: 400;
    color: #fff;
}
.classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:hover, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:hover {
    color: #fff;
    border-top: 1px solid #ff7c00;
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.5);
}
.section-padding-80-0 {
   padding:4% 0 0 0;
}
.mb-80 {
    margin-bottom: 60px;
}
.section-padding-80-0 p {
    margin-top: 0;
    margin-bottom: 8px;
}
.single-footer-widget .widget-title {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
}
.footer_links a {
    color: #b9b8b8;
    font-size: 14px;
}
.classynav ul {
    margin-top: 0px;
   margin-bottom: 0rem;
}
.classy-navbar .nav-brand {
    /*font-size: 26px;*/
    font-weight: 500;
    color: #232323;
}

.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}
.main-header-area1 {
    position: relative;
    z-index: 1;
    /* background-color: #ffffff; */
    color: #fff;
}
.header1{
    height: auto!important;
}
.classy-navbara{
    height: auto;
}
.logo_here {
    padding: 15px 0;
    line-height: 1em;
}
.call_us {
    text-align: right;
    color: #005aa6;
    font-weight: 400;
    line-height: 1em;
    padding: 15px 0;
}
.call_us a{
    color: #005aa6;
}
section.Bradcrum_section {
    background-color: #ff7c00;
    /* color: #fff; */
}
.Bradcrum_heading {
    padding: 10px 0;
}
.Bradcrum_heading h2{
    font-size: 15px;
    color: #fff;
    float: left;
}
.short_description {
    padding: 2% 0;
}
h2.slash_space {
    padding: 0 6px;
}
.banner_img_here {
    padding: 5% 0;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}
.classynav li:last-child{
    display: none;
}
.classynav li:nth-last-child(5n){
    display: none;
}
.gallery_section .col-md-3:last-child{
    display: none;
}
.gallery_section .col-md-3:first-child{
    display: none;
}
.gallery_heading {
    text-align: center;
    padding: 1% 0;
}
.description_headings {
    text-align: center;
    padding: 1% 0;
}
.gallery_img {
    border: 3px solid #c2c2c2;
    width: 89%;
}
.Bradcrum_heading {
    padding: 10px 0 5px;
}