<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Add New Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 
      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
    <script>
      $(document).ready(function(){
        $('.hidebtn').click(function(){
          // console.log("hello");
          $.ajax({
            url: '/backend/submit-gallery',
            data:  $('#frmUploader').serialize(),
            type: 'post',
            success: function(data){
              var options = '';
              console.log(data);
              if(data.type == 'Post') {
                $.each(data.postname, function(key, value) {
                  options += '<option value="'+ value +'">'+ value +'</option>';
                });
              } else {
                $.each(data.pagename, function(key, value) {
                  options += '<option value="'+ value +'">'+ value +'</option>';
                });
              }
              $('#page_type_val').empty();
              $('#page_type_val').append(options);
            }
          });
        });
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper       = $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $(".add_field_button"); //Add button ID
        var x = 1; //initlal text box count
        $(add_button).click(function(e){ //on add input button click
          e.preventDefault();
          if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><input type="file" name="imgUploader1" style="height: 38px;width: 94%; border:1px solid #c2c2c2;" required/><a href="#" class="remove_field">Remove</a></div>'); //add input box
          }
        });
        
        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
          e.preventDefault(); $(this).parent('div').remove(); x--;
        })
      });
    </script>
    <script type="text/javascript">
      function showDiv() {
         document.getElementById('welcomeDiv').style.display = "block";
      }
    </script>
   <script>;
    var set_value;
    function custom_menu() {
      var cont1 = 0;
        var checkBox = $('input[name="page_bar_name[]"]');
        $(checkBox).each(function(){
            if($(this).is(':checked')){
              set_value = $(this).val();
              console.log(set_value);
              var set_slug = set_value.replace(/\s+/g, "-").toLowerCase();
              $('#selected_page').append('<input type="text" name="menu_item" id="remove'+cont1+'" value="'+set_value+'"><br><a href="javascript:void(0)" class="delete'+cont1+'">Remove</a>');
              $('#selected_page_slug').append('<input type="hidden" name="menu_item_slug" id="remove'+cont1+'" value="'+set_slug+'"><br>');
              cont1++;
            }
        });
        $(checkBox).click(function(){
            $('#selected_page').remove('#selected_page <input type="text" name="menu_item"/>');
        });
    }
</script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
      <!-- container fluid begins -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 paddings">
          <%
              var active_user_details1 = active_user_details;
              var fullUrl1 = page_url;
          %>
          <%- include ./sidebar.ejs %>
          </div>
          <div class="col-md-9">
  	         <!-- main -->
              <div class="headings1">
                <h2 class="heading_view_all_gallery">Add New Menu </h2>
              </div>
    				<!--Form 1 Normal Registration Form begins here -->

  				<form action="/backend/add-nav-bar-submit"  method="post">
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <label> Menu Title*</label>
            <input class="post_field" type="text" name="nav_bar_title" placeholder="Enter page name here..">
            <%
              if(pageData_content.length !== 0){
            %>
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <label> page name*</label>
            <div class="nav_items_box">
                <div class="nav_items">
                  
                  <% 
                    for (val in pageData_content) {
                   %>
                  <label for="page_name">
                    <input type="checkbox" name="page_bar_name[]" id="select_page" value="<%= pageData_content[val].pageName %>"><%= pageData_content[val].pageName %>
                  </label><br>
                  <% } %>
                  <div class="add_menu_item" onclick="custom_menu()">Add Menu</div>
                </div>
                <div class="nav_items_slug">
                  <div class="menu_items" id="selected_page"></div>
                  <div class="menu_items" id="selected_page_slug"></div>
                </div>
              </div>
             <%} else{
                      }
              if(gallery_name.length !== 0){
            %>
            <div style="clear: both;height: 25px;">&nbsp;</div>
             <label> gallery name*</label>
            <select name="gallery_bar_title" class="hidebtn template1" multiple="">
               <%  for (val in gallery_name) { %>
              <option value="<%= gallery_name[val].title %>"><%= gallery_name[val].title %></option>
              <% } %>
            </select>
            <%} else{
                  
                  }
                if(postalldata.length !== 0){
            %>
             <div style="clear: both;height: 25px;">&nbsp;</div>
            <label> post name*</label>
            <select name="post_bar_name" class="hidebtn template1" multiple="">
               <%  for (val in postalldata) { %>
              <option value="<%= postalldata[val].postName %>"><%= postalldata[val].postName %></option>
              <% } %>
            </select>
            <%} else{
                      
                  }
                  if(postcategory_data.length !== 0){
            %>
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <label> post category*</label>
            <select name="post_bar_category" class="hidebtn template1" multiple="">
               <%  for (val in postcategory_data) { %>
              <option value="<%= postcategory_data[val].category_name %>"><%= postcategory_data[val].category_name %></option>
              <% } %>
            </select>
            <% }else{
                    } 
                    if(all_custom_menu_data.length !== 0){
                %>
                  <div style="clear: both;height: 25px;">&nbsp;</div>
                  <label> Custom Menu*</label>
                  <select name="costom_menu" class="hidebtn template1" multiple="">
                  <% for(val_custom in all_custom_menu_data ){ %>
                    <option value="<%= all_custom_menu_data.custom_menu %>"><%= all_custom_menu_data[val_custom].custom_menu %></option>
                    <% } %>
                  </select>
                  <div style="clear: both;height: 25px;">&nbsp;</div>
                 <label> Custom Menu Links*</label>
                  <select name="custom_menu_links" class="hidebtn template1" multiple="">
                    <% for(val_custom_link in all_custom_menu_data ){ %>
                    <option value="<%= all_custom_menu_data.custom_menu_link %>"><%= all_custom_menu_data[val_custom_link].custom_menu_link %></option>
                    <% } %>
                  </select>
                  <% } else{
                    }
                  %>
                  <div style="clear: both;height: 25px;">&nbsp;</div>
                <input type="submit"  class="btn-btn-sm" name="submit" id="btnSubmit" value="submit">
                  <div style="clear: both;height: 25px;">&nbsp;</div>
        					<div style="clear: both;height: 25px;">&nbsp;</div>
  				</form>
            <div style="clear: both;height: 25px;">&nbsp;</div>
          <div class="create_new_custom_menu">
            <input type="button" name="answer" value="Create Custom Menu" class="create_custom_menu_button" onclick="showDiv()" />
            <form method="post" action="/backend/custom-nav-bar">
                <div style="clear: both;height: 25px;">&nbsp;</div>
                <div  style="display:none;" id="welcomeDiv">
                    <label> Custom Menu*</label>
                    <input class="text" type="text" name="custom_menu" style="border: 1px solid #c2c2c2;" placeholder="Enter page name here..">
                    <div style="clear: both;height: 25px;">&nbsp;</div>
                    <label> Custom Menu Links*</label>
                    <input class="text" type="text" name="custom_menu_link" style="border: 1px solid #c2c2c2;" placeholder="Enter link here..">
                    <div style="clear: both;height: 25px;">&nbsp;</div>
                    <button type="submit" class="custom_menu_button">Add</button>
                    <div style="clear: both;height: 25px;">&nbsp;</div>
                  <div style="clear: both;height: 25px;">&nbsp;</div>
                </div>
            </form>
          </div>
  			</div>
  		</div>
	</div>
  <% include ./footer.ejs %>
	<!-- //main -->
    <script type="text/javascript">
        $(function () {
          'use strict';

          (function () {
            var aside = $('.side-nav'),
                showAsideBtn = $('.show-side-btn'),
                contents = $('#contents');
            showAsideBtn.on("click", function () {
              $("#" + $(this).data('show')).toggleClass('show-side-nav');
              contents.toggleClass('margin');
            });

            if ($(window).width() <= 767) {
              aside.addClass('show-side-nav');
            }
            $(window).on('resize', function () {
              if ($(window).width() > 767) {
                aside.removeClass('show-side-nav');
              }
            });

            // dropdown menu in the side nav
            var slideNavDropdown = $('.side-nav-dropdown');
            $('.side-nav .categories li').on('click', function () {
              $(this).toggleClass('opend').siblings().removeClass('opend');
              if ($(this).hasClass('opend')) {
                $(this).find('.side-nav-dropdown').slideToggle('fast');
                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
              } else {
                $(this).find('.side-nav-dropdown').slideUp('fast');
              }
            });

            $('.side-nav .close-aside').on('click', function () {
              $('#' + $(this).data('close')).addClass('show-side-nav');
              contents.removeClass('margin');
            });
          }());
        });
    </script>
  </body>
</html>
