<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Add New Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/backend/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 

      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
     <script>
      function funchange(obj)
      {
        var value = obj.value;
        value = value.replace(/\s+/g, "-").toLowerCase();
        
         document.getElementById('text1').value = value; 
      }
      </script>
      <script>
        function post_name_url(obj)
        {
            var value = obj.value;
            value = value.replace(/\s+/g, "-").toLowerCase();
           document.getElementById('text_url').value = value;  
        }
      </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
        <!-- container fluid begins -->
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 paddings">
          <%
              var active_user_details1 = active_user_details;
              var fullUrl1 = page_url;
          %>
          <%- include ./sidebar.ejs %>
            </div>
          <div class="col-md-9">
            <div class="headings1">
              <h2 class="heading_view_all_gallery">Add New Category</h2>
            </div>
            <form action="/backend/add-new-post-category-submit" id="frmUploader" method="post">
              <label>Category Title*</label>
              <input class="post_url" required="" type="text"  name="category_name" onchange="post_name_url(this)" id="TextBox1" placeholder="Enter category name here.." runat="server">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Category Slug*</label>
              <input class="post_url" type="text" required="" name="category_slug" placeholder="Enter page url here.." id="text_url" runat="server" >
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Category Description*</label>
              <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
              <textarea name="category_description"></textarea>
                <script>
                   CKEDITOR.replace('category_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="SEO_tags">SEO Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label> SEO Title*</label>
              <input class="post_url" type="text" name="cat_seo_title" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="Meta_tags">Meta Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Description*</label>
              <textarea name="cat_seo_description"></textarea>
                <script>
                    CKEDITOR.replace('cat_seo_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Keywords*</label>
              <input class="post_url" type="text" name="cat_seo_keywords" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Canonical*</label>
              <input class="post_url" type="text" name="cat_seo_canonical" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="OG_tags">Og Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Title*</label>
              <input class="post_url" type="text" name="cat_og_title" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Description*</label>
              <textarea name="cat_og_description"></textarea>
                <script>
                    CKEDITOR.replace('cat_og_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Page Url*</label>
              <input class="post_url" type="text" name="cat_og_url" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Type*</label>
              <input class="post_url" type="text" name="cat_og_type" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og image*</label>
              <input class="post_url" type="text" name="cat_og_image" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Site Name*</label>
              <input class="post_url" type="text" name="cat_og_site_name" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="Twitter_tags">Twitter Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Title*</label>
              <input class="post_url" type="text" name="cat_twitter_title" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Description*</label>
              <textarea name="cat_twitter_description"></textarea>
                <script>
                    CKEDITOR.replace('cat_twitter_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Card*</label>
              <input class="post_url" type="text" name="cat_twitter_card" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Site*</label>
              <input class="post_url" type="text" name="cat_twitter_site" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Creator*</label>
              <input class="post_url" type="text" name="cat_twitter_creator" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <input type="submit"  class="btn-btn-sm" name="submit" id="btnSubmit" value="submit">
              <div style="clear: both;height: 25px;">&nbsp;</div>
            </form>
          </div>
        </div>
      </div>
      <% include ./footer.ejs %>
        <!-- //main -->
        <script type="text/javascript">
            $(function () {
              'use strict';

              (function () {
                var aside = $('.side-nav'),
                    showAsideBtn = $('.show-side-btn'),
                    contents = $('#contents');
                showAsideBtn.on("click", function () {
                  $("#" + $(this).data('show')).toggleClass('show-side-nav');
                  contents.toggleClass('margin');
                });

                if ($(window).width() <= 767) {
                  aside.addClass('show-side-nav');
                }
                $(window).on('resize', function () {
                  if ($(window).width() > 767) {
                    aside.removeClass('show-side-nav');
                  }
                });
                // dropdown menu in the side nav
                var slideNavDropdown = $('.side-nav-dropdown');
                $('.side-nav .categories li').on('click', function () {
                  $(this).toggleClass('opend').siblings().removeClass('opend');
                  if ($(this).hasClass('opend')) {
                    $(this).find('.side-nav-dropdown').slideToggle('fast');
                    $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
                  } else {
                    $(this).find('.side-nav-dropdown').slideUp('fast');
                  }
                });
                $('.side-nav .close-aside').on('click', function () {
                  $('#' + $(this).data('close')).addClass('show-side-nav');
                  contents.removeClass('margin');
                });
              }());
            });
        </script>
  </body>
</html>
