<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Add New Banner</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
      <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
      <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script type="application/x-javascript">
            addEventListener("load", function() { 
              setTimeout(hideURLbar, 0); 
            }, false); 
            function hideURLbar(){ 
              window.scrollTo(0,1); 
            } 
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
              var max_fields      = 15; //maximum input boxes allowed
              var wrapper       = $(".input_fields_wrap"); //Fields wrapper
              var add_button      = $(".add_field_button"); //Add button ID
              var x = 1; //initlal text box count
              $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                  x++; //text box increment
                  $(wrapper).append('<div><input type="file" name="imgUploader1" style="height: 38px;width: 94%; border:1px solid #c2c2c2;" required/><a href="#" class="remove_field">Remove</a></div>'); //add input box
                }
              });
              $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault(); $(this).parent('div').remove(); x--;
              })
            });
        </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 paddings">
          <%
              var active_user_details1 = active_user_details;
              var fullUrl1 = page_url;
          %>
          <%- include ./sidebar.ejs %>
        </div>
        <div class="col-md-9">
	         <!-- main -->
           <div class="headings1">
            <h2 class="heading_view_all_gallery">Add New Banner </h2>
          </div>
  				<!--Form 1 Normal Registration Form begins here -->
				  <form action="add-banner-form-submit" id="frmUploader" enctype="multipart/form-data" method="post">
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <label> Banner Title*</label>
            <input class="post_field" type="text" name="banner_title" placeholder="Enter page name here.." runat="server">
                <div style="clear: both;height: 25px;">&nbsp;</div>
                <lable>Banner Image*</lable>
                <div class="input_fields_wrap">
      					  <input class="post_fieldq" type="file" required="" name="imgUploader1">
                  <button class="add_field_button btn btn-btn-sm add_button">Add <i class="fa fa-plus-square-o"></i></button>
                  <div style="clear: both;height: 25px;">&nbsp;</div>
                </div>
      					<div style="clear: both;height: 25px;">&nbsp;</div>
      					<input type="submit"  class="btn-btn-sm" name="submit" id="btnSubmit" value="submit">
      					<div style="clear: both;height: 25px;">&nbsp;</div>
				  </form>
				<!--Form 1 Normal Registration Form begins here -->
			</div>
		</div>
	</div>
  <% include ./footer.ejs %>
	<!-- //main -->
    <script type="text/javascript">
        $(function () {
          'use strict';

          (function () {
            var aside = $('.side-nav'),
                showAsideBtn = $('.show-side-btn'),
                contents = $('#contents');
            showAsideBtn.on("click", function () {
              $("#" + $(this).data('show')).toggleClass('show-side-nav');
              contents.toggleClass('margin');
            });

            if ($(window).width() <= 767) {
              aside.addClass('show-side-nav');
            }
            $(window).on('resize', function () {
              if ($(window).width() > 767) {
                aside.removeClass('show-side-nav');
              }
            });

            // dropdown menu in the side nav
            var slideNavDropdown = $('.side-nav-dropdown');
            $('.side-nav .categories li').on('click', function () {
              $(this).toggleClass('opend').siblings().removeClass('opend');
              if ($(this).hasClass('opend')) {
                $(this).find('.side-nav-dropdown').slideToggle('fast');
                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
              } else {
                $(this).find('.side-nav-dropdown').slideUp('fast');
              }
            });

            $('.side-nav .close-aside').on('click', function () {
              $('#' + $(this).data('close')).addClass('show-side-nav');
              contents.removeClass('margin');
            });
          }());
        });
    </script>
  </body>
</html>
