<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Add New Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/backend/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 

      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
    <script>
        function funchange(obj)
        {
          var value = obj.value;
          value = value.replace(/\s+/g, "-").toLowerCase();
          
           document.getElementById('text1').value = value; 
        }
        </script>
        <script>
          function post_name_url(obj)
          {
            var value = obj.value;
            value = value.replace(/\s+/g, "-").toLowerCase();
           document.getElementById('text_url').value = value;  
        }
    </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
      <!-- container fluid begins -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 paddings">
          <%
              var fullUrl1 = page_url;
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
        </div>
        <div class="col-md-9">
          <div class="headings1">
            <h2 class="heading_view_all_gallery">Add New Post</h2>
          </div>
    			<form action="/backend/add-post" id="frmUploader" enctype="multipart/form-data" method="post">
    					<label>Post Name*</label>
    					<input class="post_field" required="" type="text" onchange="post_name_url(this)" id="TextBox1" name="postName" placeholder="Enter post name here.." runat="server">
    					<div style="clear: both;height: 25px;">&nbsp;</div>
    					<label>Post Url*</label>
    					<input class="post_url" type="text" required="" name="post_url" id="text_url" runat="server">
    					<div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Category*</label><br>
              <div class="post_categories">
                <%
                  for(val in category_name){
                %>
              <input type="checkbox" name="category" value="<%= category_name[val].category_name %>"><%= category_name[val].category_name %>
              <br>
              <% } %>
              </div>

    					<div style="clear: both;height: 25px;">&nbsp;</div>
    					<label>Featured image*</label>
    					<input class="feature_image" type="file" required="" name="imgUploader1">
    					<div style="clear: both;height: 25px;">&nbsp;</div>
    					<label>Short Description*</label>
              <textarea name="content"></textarea>
                <script>
                    CKEDITOR.replace('content', {
                    "extraPlugins" : 'imagebrowser,html5video,widget',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
    					<div style="clear: both;height: 25px;">&nbsp;</div>
    					<label>Gallery image*</label>
    					<input class="feature_image" type="file" name="imgUploader" required="" multiple/>
    					<div style="clear: both;height: 25px;">&nbsp;</div>
    					<label>Full Description*</label>
              <textarea name="post_description"></textarea>
                <script>
                    CKEDITOR.replace('post_description', {
                    "extraPlugins" : 'imagebrowser,html5video,widget',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
                <div style="clear: both;height: 25px;">&nbsp;</div>
                <label>Publish/Un-Publish*</label>
                <select class="publish" name="publish">
                  <option value="Un-Publish">Select-To-Publish</option>
                  <option value="Publish">Publish</option>
                  <option value="Un-Publish">Un-Publish</option>
                </select>
    				  <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="SEO_tags">SEO Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label> SEO Title*</label>
              <input class="post_url" type="text" name="seo_title" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="Meta_tags">Meta Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Description*</label>
              <textarea name="seo_description"></textarea>
                <script>
                   CKEDITOR.replace('seo_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>

              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Keywords*</label>
              <input class="post_url" type="text" name="seo_keywords" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Canonical*</label>
              <input class="post_url" type="text" name="seo_canonical" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="OG_tags">Og Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Title*</label>
              <input class="post_url" type="text" name="og_title" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Description*</label>
              <textarea name="og_description"></textarea>
                <script>
                   CKEDITOR.replace('og_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Page Url*</label>
              <input class="post_url" type="text" name="og_url" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Type*</label>
              <input class="post_url" type="text" name="og_type"  placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og image*</label>
              <input class="post_url" type="text" name="og_image"  placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Site Name*</label>
              <input class="post_url" type="text" name="og_site_name" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="Twitter_tags">Twitter Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Title*</label>
              <input class="post_url" type="text" name="twitter_title" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Description*</label>
              <textarea name="twitter_description"></textarea>
                <script>
                  CKEDITOR.replace('twitter_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Card*</label>
              <input class="post_url" type="text" name="twitter_card" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Site*</label>
              <input class="post_url" type="text" name="twitter_site" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Creator*</label>
              <input class="post_url" type="text" name="twitter_creator" placeholder="Enter page url here..">
    					<div style="clear: both;height: 25px;">&nbsp;</div>
    					<input type="submit"  class="btn-btn-sm" name="submit" id="btnSubmit" value="submit">
    					<div style="clear: both;height: 25px;">&nbsp;</div>
    			</form>
    		</div>
    	</div>
    </div>
    <% include ./footer.ejs %>
    <script type="text/javascript">
        $(function () {
          'use strict';

          (function () {
            var aside = $('.side-nav'),
                showAsideBtn = $('.show-side-btn'),
                contents = $('#contents');
            showAsideBtn.on("click", function () {
              $("#" + $(this).data('show')).toggleClass('show-side-nav');
              contents.toggleClass('margin');
            });

            if ($(window).width() <= 767) {
              aside.addClass('show-side-nav');
            }
            $(window).on('resize', function () {
              if ($(window).width() > 767) {
                aside.removeClass('show-side-nav');
              }
            });

            // dropdown menu in the side nav
            var slideNavDropdown = $('.side-nav-dropdown');
            $('.side-nav .categories li').on('click', function () {
              $(this).toggleClass('opend').siblings().removeClass('opend');
              if ($(this).hasClass('opend')) {
                $(this).find('.side-nav-dropdown').slideToggle('fast');
                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
              } else {
                $(this).find('.side-nav-dropdown').slideUp('fast');
              }
            });

            $('.side-nav .close-aside').on('click', function () {
              $('#' + $(this).data('close')).addClass('show-side-nav');
              contents.removeClass('margin');
            });
          }());
        });
    </script>
  </body>
</html>
