<!DOCTYPE html>
<html>
<head>
	<title>registration Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
		</script>
	    <script src="Scripts/jquery-3.1.1.min.js"></script>
	    <script src="Scripts/jquery.form.min.js"></script>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- //web font -->
</head>
<body class="bodyclass">
	<div class="main-w3layouts wrapper">
		<h1>Backend</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<a href="/backend/sign-up"><button>Register-here</button></a>
				<a href="/backend/log-in"><button>LogIn-here</button></a>
			</div>
		</div>
		<div class="colorlibcopy-agile">
			<p></p>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>