<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>edit gallery image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 

      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
      <!-- container fluid begins -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 paddings">
          <%
              var fullUrl1 = "/backend/edit-gallery-images-img";
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
        </div>
        <div class="col-md-9">
          <div class="headings1">
            <h2 class="heading_view_all_gallery">Edit Banner images</h2>
          </div>
	         <!-- main -->
    				<!--Form 1 Normal Registration Form begins here -->
  				<form action="/backend/edit-banner-image-submit"  enctype="multipart/form-data" method="post">
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <lable>Banner*</lable>
            <div class="input_fields_wrap">
  					  <input class="post_field" type="file" required="" name="imgUploader1" style="height: 38px;width: 87%; border:1px solid #c2c2c2;">
            </div>
  					<div style="clear: both;height: 25px;">&nbsp;</div>
  					<input type="submit"  class="btn-btn-sm" name="submit" value="submit">
  					<div style="clear: both;height: 25px;">&nbsp;</div>
  				</form>
  			</div>
  		</div>
  	</div>
    <% include ./footer.ejs %>
    <script type="text/javascript">
        $(function () {
          'use strict';
          (function () {
            var aside = $('.side-nav'),
                showAsideBtn = $('.show-side-btn'),
                contents = $('#contents');
            showAsideBtn.on("click", function () {
              $("#" + $(this).data('show')).toggleClass('show-side-nav');
              contents.toggleClass('margin');
            });
            if ($(window).width() <= 767) {
              aside.addClass('show-side-nav');
            }
            $(window).on('resize', function () {
              if ($(window).width() > 767) {
                aside.removeClass('show-side-nav');
              }
            });
            // dropdown menu in the side nav
            var slideNavDropdown = $('.side-nav-dropdown');
            $('.side-nav .categories li').on('click', function () {
              $(this).toggleClass('opend').siblings().removeClass('opend');
              if ($(this).hasClass('opend')) {
                $(this).find('.side-nav-dropdown').slideToggle('fast');
                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
              } else {
                $(this).find('.side-nav-dropdown').slideUp('fast');
              }
            });
            $('.side-nav .close-aside').on('click', function () {
              $('#' + $(this).data('close')).addClass('show-side-nav');
              contents.removeClass('margin');
            });
          }());
        });
    </script>
  </body>
</html>
