<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit Post Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/backend/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 
      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
    <script>
        function funchange(obj)
        {
          var value = obj.value;
          value = value.replace(/\s+/g, "-").toLowerCase();
          
           document.getElementById('text1').value = value; 
        }
    </script>
    <script>
      function post_name_url(obj)
      {
        var value = obj.value;
        value = value.replace(/\s+/g, "-").toLowerCase();
       document.getElementById('text_url').value = value;  
      }
    </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
      <!-- container fluid begins -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 paddings">
          <%  
              var fullUrl1 = page_url;
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
        </div>
        <div class="col-md-9">
          <div class="headings1">
            <h2 class="heading_view_all_gallery">Edit Post Category</h2>
          </div>
          <form action="/backend/edit-post-category-submit" id="frmUploader"  method="post">
            <label>Category Title*</label>
            <input class="post_field" class="form-control" value="<%= post_category_data.category_name %>" required="" style="border: 1px solid #e2e2e2;" type="text"  name="category_name" onchange="post_name_url(this)" id="TextBox1" placeholder="Enter category name here.." runat="server">
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <label>Category Slug*</label>
            <input class="post_field" type="text" required="" value="<%= post_category_data.category_slug %>" name="category_slug" style="height: 38px;width: 94%; border:1px solid #c2c2c2;" placeholder="Enter page url here.." id="text_url" runat="server" >
            <input type="hidden" name="cid" value="<%= post_category_data._id %>">
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <label>Category Description*</label>
            <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
            <textarea name="category_description"></textarea>
                <script>
                    CKEDITOR.replace('category_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
            <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="SEO_tags">SEO Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label> SEO Title*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_seo_title %>" name="cat_seo_title" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="Meta_tags">Meta Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Description*</label>
              <textarea name="cat_seo_description"><%= post_category_data.cat_seo_descriptions %></textarea>
                <script>
                   CKEDITOR.replace('cat_seo_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Keywords*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_seo_keywords %>" name="cat_seo_keywords" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Canonical*</label>
              <input class="post_field" type="tetx" value="<%= post_category_data.cat_seo_canonicals %>" name="cat_seo_canonical" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="OG_tags">Og Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Title*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_og_title %>" name="cat_og_title" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Description*</label>
              <textarea name="cat_og_description"><%= post_category_data.cat_seo_descriptions %></textarea>
                <script>
                  CKEDITOR.replace('cat_og_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Page Url*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_og_urls %>" name="cat_og_url" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Type*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_og_types %>" name="cat_og_type" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og image*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_og_images %>" name="cat_og_image" style="height:40px;
              width: 94%;border: 1px solid #c2c2c2;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Og Site Name*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_og_site_names %>" name="cat_og_site_name" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <div class="Twitter_tags">Twitter Tags</div>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <lable>Twitter Title*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_twitter_titles %>" name="cat_twitter_title" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Description*</label>
              <textarea name="cat_twitter_description"><%= post_category_data.cat_seo_descriptions %></textarea>
                <script>
                    CKEDITOR.replace('cat_twitter_description', {
                    "extraPlugins" : 'imagebrowser',
                    "imageBrowser_listUrl" : "/backend/getFile"
                  });
                </script>
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Card*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_twitter_cards %>" name="cat_twitter_card" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Site*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_twitter_sites %>" name="cat_twitter_site" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <label>Twitter Creator*</label>
              <input class="post_field" type="text" value="<%= post_category_data.cat_twitter_creators %>" name="cat_twitter_creator" style="height:40px;
              width: 94%;" placeholder="Enter page url here..">
              <div style="clear: both;height: 25px;">&nbsp;</div>
              <input type="submit"  class="btn-btn-sm" name="submit" id="btnSubmit" value="submit">
              <div style="clear: both;height: 25px;">&nbsp;</div>
          </form>
        </div>
      </div>
    </div>
    <% include ./footer.ejs %>
    <script type="text/javascript">
        $(function () {
          'use strict';

          (function () {
            var aside = $('.side-nav'),
                showAsideBtn = $('.show-side-btn'),
                contents = $('#contents');
            showAsideBtn.on("click", function () {
              $("#" + $(this).data('show')).toggleClass('show-side-nav');
              contents.toggleClass('margin');
            });

            if ($(window).width() <= 767) {
              aside.addClass('show-side-nav');
            }
            $(window).on('resize', function () {
              if ($(window).width() > 767) {
                aside.removeClass('show-side-nav');
              }
            });

            // dropdown menu in the side nav
            var slideNavDropdown = $('.side-nav-dropdown');
            $('.side-nav .categories li').on('click', function () {
              $(this).toggleClass('opend').siblings().removeClass('opend');
              if ($(this).hasClass('opend')) {
                $(this).find('.side-nav-dropdown').slideToggle('fast');
                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
              } else {
                $(this).find('.side-nav-dropdown').slideUp('fast');
              }
            });

            $('.side-nav .close-aside').on('click', function () {
              $('#' + $(this).data('close')).addClass('show-side-nav');
              contents.removeClass('margin');
            });
          }());
        });
    </script>
    <!-- <script type="text/javascript">
      CKEDITOR.replace('editor_message', {
        skin: 'moono',
        enterMode: CKEDITOR.ENTER_BR,
        shiftEnterMode:CKEDITOR.ENTER_P,
        toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
             { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
             { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
             { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
             { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
             { name: 'links', items: [ 'Link', 'Unlink' ] },
             { name: 'insert', items: [ 'Image'] },
             { name: 'spell', items: [ 'jQuerySpellChecker' ] },
             { name: 'table', items: [ 'Table' ] }
             ],
      });
      CKEDITOR.replace('description', {
        skin: 'moono',
        enterMode: CKEDITOR.ENTER_BR,
        shiftEnterMode:CKEDITOR.ENTER_P,
        toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
           { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
           { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
           { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
           { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
           { name: 'links', items: [ 'Link', 'Unlink' ] },
           { name: 'insert', items: [ 'Image'] },
           { name: 'spell', items: [ 'jQuerySpellChecker' ] },
           { name: 'table', items: [ 'Table' ] }
           ],
      });
      CKEDITOR.replace('og_description', {
        skin: 'moono',
        enterMode: CKEDITOR.ENTER_BR,
        shiftEnterMode:CKEDITOR.ENTER_P,
        toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
           { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
           { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
           { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
           { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
           { name: 'links', items: [ 'Link', 'Unlink' ] },
           { name: 'insert', items: [ 'Image'] },
           { name: 'spell', items: [ 'jQuerySpellChecker' ] },
           { name: 'table', items: [ 'Table' ] }
           ],
      });
      CKEDITOR.replace('twitter_description', {
        skin: 'moono',
        enterMode: CKEDITOR.ENTER_BR,
        shiftEnterMode:CKEDITOR.ENTER_P,
        toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
           { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
           { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
           { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
           { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
           { name: 'links', items: [ 'Link', 'Unlink' ] },
           { name: 'insert', items: [ 'Image'] },
           { name: 'spell', items: [ 'jQuerySpellChecker' ] },
           { name: 'table', items: [ 'Table' ] }
           ],
      });
      CKEDITOR.replace('editor_contents', {
        skin: 'moono',
        enterMode: CKEDITOR.ENTER_BR,
        shiftEnterMode:CKEDITOR.ENTER_P,
        toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
           { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
           { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
           { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
           { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
           { name: 'links', items: [ 'Link', 'Unlink' ] },
           { name: 'insert', items: [ 'Image'] },
           { name: 'spell', items: [ 'jQuerySpellChecker' ] },
           { name: 'table', items: [ 'Table' ] }
           ],
      });
    </script> -->
</body>
</html>
