<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit User form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 

      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
    <script>
      function randomPassword(length) {
          var chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
          var pass = "";
          for (var x = 0; x < length; x++) {
              var i = Math.floor(Math.random() * chars.length);
              pass += chars.charAt(i);
          }
          return pass;
      }

      function generate() {
        $( "#generate_password").val(randomPassword(8));
      }  
    </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
      <!-- container fluid begins -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 paddings">
          <%  
              var fullUrl1 = page_url;
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
        </div>
        <div class="col-md-9">
          <div class="headings1">
            <h2 class="heading_view_all_gallery">Edit User Detail Form</h2>
          </div>
  				<form action="/backend/edit-user-all-data" id="frmUploader" enctype="multipart/form-data" method="post">
  					<label>First Name*</label>
            <input type="hidden" name="id" value="<%= all_user._id %>">
  					<input class="text" class="form-control"  value="<%= all_user.first_name %>" style="border: 1px solid #e2e2e2; " type="text"  name="first_name" >
  					<div style="clear: both;height: 25px;">&nbsp;</div>
  					<lable>Last Name*</lable>
  					<input class="text" type="tetx" value="<%= all_user.last_name %>" name="last_name" style="height: 38px;width: 94%; border:1px solid #c2c2c2; padding-left: 10px;">
  					<div style="clear: both;height: 25px;">&nbsp;</div>
            <%
              if(all_user.user_role =="Administrator"){
            %>
  					<lable>User Id*</lable>
            <input class="text" type="tetx" name="user_id" value="<%= all_user.user_id %>" style="height: 38px;width: 94.5%; border:1px solid #c2c2c2; padding-left: 10px;">
            <% } else{ %>
            <lable>User Id*</lable>
            <input class="text" type="tetx" name="user_id" value="<%= all_user.user_id %>" style="height: 38px;width: 94.5%; border:1px solid #c2c2c2; padding-left: 10px;" readonly="">
            <% } %>
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <lable> Generate Password*</lable>
           <span><input name="password" value="<%= all_user.password %>" id="generate_password" type="password" size="40" style="height: 38px;width: 86%; border:1px solid #c2c2c2; color: #000; padding-left: 10px;">
            <button type="button" onClick="generate();" tabindex="2" class="btn btn-sm button4">Generate</button></span>
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <%
              if(all_user.user_role =="Administrator"){
            %>
            <lable> User Email*</lable>
            <input class="text" type="tetx" name="email" value="<%= all_user.email %>" style="height: 38px;width: 94%; border:1px solid #c2c2c2; padding-left: 10px;">
            <% } else{ %>
              <lable> User Email*</lable>
            <input class="text" type="tetx" name="email" value="<%= all_user.email %>" style="height: 38px;width: 94%; border:1px solid #c2c2c2; padding-left: 10px;" readonly="">
            <% } %>
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <lable>User Mobile*</lable>
            <input class="text" type="tetx" name="mobile" value="<%= all_user.mobile %>" style="height: 38px;width: 94%; border:1px solid #c2c2c2; padding-left: 10px;">
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <%
              if(all_user.user_role =="Administrator"){
            %>
             <lable>User Management*</lable>
            <select name="user_role" style="height: 38px;width: 94%; border:1px solid #c2c2c2; padding-left: 10px;">
              <option value="<%= all_user.user_role %>"><%= all_user.user_role %></option>
              <option value="Editors">Editors</option>
              <option value="Subscriber">Subscriber</option>
              <option value="Costomers">Costomers</option>
            </select>
            <% } else{ %>
              <input class="text" type="tetx" name="user_role" value="<%= all_user.user_role %>" style="height: 38px;width: 94%; border:1px solid #c2c2c2;padding-left: 10px;" readonly="">
            <% } %>
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <lable>User Image*</lable>
  					<input class="text" type="file" value="/image/<%= all_user.image %>" name="imgUploader1">
            <p><img src="image/<%= all_user.image %>" alt="img" width="100px" height="80px"></p>
  					<div style="clear: both;height: 25px;">&nbsp;</div>
  					<input type="submit"  class="btn-btn-sm" name="submit" id="btnSubmit" value="submit">
  					<div style="clear: both;height: 25px;">&nbsp;</div>
  				</form>
			 </div>
		  </div>
	  </div>
    <% include ./footer.ejs %>
    <script type="text/javascript">
        $(function () {
          'use strict';
          (function () {
            var aside = $('.side-nav'),
                showAsideBtn = $('.show-side-btn'),
                contents = $('#contents');
            showAsideBtn.on("click", function () {
              $("#" + $(this).data('show')).toggleClass('show-side-nav');
              contents.toggleClass('margin');
            });

            if ($(window).width() <= 767) {
              aside.addClass('show-side-nav');
            }
            $(window).on('resize', function () {
              if ($(window).width() > 767) {
                aside.removeClass('show-side-nav');
              }
            });

            // dropdown menu in the side nav
            var slideNavDropdown = $('.side-nav-dropdown');
            $('.side-nav .categories li').on('click', function () {
              $(this).toggleClass('opend').siblings().removeClass('opend');
              if ($(this).hasClass('opend')) {
                $(this).find('.side-nav-dropdown').slideToggle('fast');
                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
              } else {
                $(this).find('.side-nav-dropdown').slideUp('fast');
              }
            });

            $('.side-nav .close-aside').on('click', function () {
              $('#' + $(this).data('close')).addClass('show-side-nav');
              contents.removeClass('margin');
            });
          }());
        });
    </script>
  </body>
</html>
