    <section class="footer_section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">&nbsp;</div>
          <div class="col-md-4">
            <div class="copy_rights">
              Copyright ©2019 Design & Developed by Skug Insights
            </div>
          </div>
          <div class="col-md-4">&nbsp;</div>
        </div>
      </div>
    </section>