    <section class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="logo_png">
              <img src="/backend/image/logo.png">
            </div>
          </div>
          <div class="col-md-5">
            &nbsp;
          </div>
          <div class="col-md-2">
            <div class="visit_web">
              <a href="/"><h1>Visit Website</h1></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="profile">
              <a href="/backend/log-in">
                log out<span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>        
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>