<!DOCTYPE html>
<html>
<head>
  <title>Admin Login SkugInsights</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"> 
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet"> 
    <link href="../stylesheets/admin/admin.css" rel="stylesheet"> 
       <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <!-- Custom styling plus plugins -->
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/icheck/flat/green.css" rel="stylesheet">
  <script src="js/jquery.min.js"></script>
</head>
<style type="text/css">
   body {
    background-image: url("image/bg.jpg");
    background-repeat: no-repeat;
  }
  .set_error_response {
    color: #e60707;
  }
  .input-group {
    margin: 0;
    display: inline-table;
}
input#email {
    width: 20em;
    margin: 0 0 5px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
}
input#password {
    width: 20em;
    margin: 0 0 5px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
}
.femail_box input {
    border-radius: 25px!important;
    padding: 15px 24px;
}
.set_error_response {
    color: #ff563b;
    text-shadow: 5px 5px 6px #000;
    font-weight: 700;
}
div#login {
    background: #ffffff4f;
    padding-top: 15px;
    border-radius: 8px;
    width: 40em;
    box-shadow: 5px 5px 15px #f9fbf9;
    border: 1px solid #fff;
}
</style>
<body id="particle">
  <%
    function generateId(lengthOfId) {
          var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for (var i = 0; i < lengthOfId; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
      return text;
      }
  %>
    
      <a class="hiddenanchor" id="toregister"></a>
      <a class="hiddenanchor" id="tologin"></a>
        <div id="login" class="animate form">
          <img src="image/Logo.png" class="responsive" style="width:90%; padding-left:60px;"/>
          <section class="login_content">
            <form class="form-horizontal" method="#" id="admin_login" action="#">
              <h1><strong>Admin Login Form</strong></h1>
                <div class="form-group">
                  <div class="show_error">
                  <p class="set_error_response"></p>
                </div>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control margin" name="email" id="email"  placeholder="Enter your Email" required="" />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <input type="password" class="form-control margin" name="password" id="password"  placeholder="Enter your Password" required="" />
                    </div>
                  </div>
                </div>

                <div class="form-group ">
                  <input type="hidden" id="randomKey" name="key" value="<%= generateId(24); %>">
                  <input type="button" class="btn btn-info btn-lg"  name="log_in_user" id="submit-btn" value="Login" style="background-color:#000033;">
                   <a class="reset_pass" style="color:#000033; font-weight:40px; font-size:15px;" href="#toregister"><strong>Lost your password?</strong></a>
                </div>
                <div class="clearfix"></div>
              <div class="separator">
                <div class="clearfix"></div>
                <br />
                <div>
                  <h1><i class="fa fa-toggle-right" style="font-size: 26px;"></i> Skug Insights</h1>
                  <strong>@Copyright skuginsights.com </strong>
                </div>
              </div>
              </form>
            <!-- form -->
          </section>
          <!-- content -->
        </div>
        <div id="register" class="animate form">
          <img src="image/Logo.png" class="responsive" style="width:90%; padding-left:60px;"/>
            <section class="login_content">
              <form action="/backend/forget-user-password" method="post">
                <h1>Forget Password</h1>
                <div class="femail_box">
                  <input type="email" class="form-control" name="femail" placeholder="Registred Email" required="" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" title="Example: test@test.com" />
                </div>
                <div>
                  <button class="btn btn-info btn-lg" style="background-color:#000033;">Submit</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                  <a class="change_link" style="color:#000033; font-weight:40px; font-size:15px;"><strong>Got valid details? </strong>
                    <a href="#tologin" class="to_register" style="color:#000033; font-weight:40px; font-size:15px;"><strong>Log In Here</strong></a>
                  </p>
                  <div class="clearfix"></div>
                  <br />
                  <div>
                    <h1><i class="fa fa-toggle-right" style="font-size: 26px;"></i> skug insights</h1>
                    <strong>©Skug insights </strong>
                  </div>
                </div>
              </form>
            </section>
          </div>

    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // $('#submit-btn').click(function(){
        $('input[name="log_in_user"]').click(function(){
          var dataString = $('form#admin_login').serialize();
          $.ajax({  
            url: "/backend/dashboard",
            type: "POST",
            data: dataString,
            success: function(response) {
            console.log(response);
              if(response.status == true) {
                console.log(response.user);
                // $('.set_error_response').text(" ");
                window.location.replace("/backend/admin-dashboard?active_user="+response.active_user);
              }
              else {
                console.log(response.error);
                $('.set_error_response').text(response.error);
              }
            }
          });
        });

        $('#submit-btn').keypress(function (e) {
          var key = e.which;
          //@the enter key code
          if(key == 13)  
          {
              $('input[name = log_in_user]').click();
              return false;  
          }
        });

        $('#password').keypress(function (e) {
          var key = e.which;
          //@the enter key code
          if(key == 13)  
          {
              $('input[name = log_in_user]').click();
              return false;  
          }
        });
      });
    </script>
  </body>
</html>