<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/backend/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 

      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
    <script>
        function page_name_url(obj)
        {
            var value = obj.value;
            value = value.replace(/\s+/g, "-").toLowerCase();
           document.getElementById('page_url').value = value;  
        }
    </script>
	    <% for(val_gal in pagedata) { %>
	    
		    <% for(val_gallery in pagedata[val_gal].gallery) { %>
		   <% 
		   var gal_id =  pagedata[val_gal]._id;
		   var gal_img = pagedata[val_gal].gallery[val_gallery];
			}

		   %>
		<% } %>
	<script>
		$(document).ready(function(){
			$('.hidebtn').click(function(){
				console.log("hello");
				$.ajax({
			       url: '/backend/delete-page-gallery-image?id=<%= gal_id %>&img_url=<%= gal_img %>',
			       type: 'get',
			       success: function(data){
				       	// console.log(data.image);
				       	// if(data.image) {
				       	// 	console.log("got true");
				       	
				       	pagedata = data.image; 
				       	// console.log(pagedata);
				    }
				});
			});
		});
	</script>
</head>
	<body style="font-size: 15px;">
		<% include ./header.ejs %>
		<!-- main -->
		<div class="container-fluid">
	      	<div class="row">
		        <div class="col-md-3 paddings">
          <%
          		var fullUrl1 = page_url;
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
		        </div>
		        <div class="col-md-9">
		        	<div class="headings1">
		            	<h2 class="heading_view_all_gallery">Edit Page</h2>
		          	</div>
					<div class="page_Update">
						<form action="/backend/page-data-update" id="frmUploader" enctype="multipart/form-data" method="post">
							<% for(val in pagedata) { %>
							<label>Page Name*</label>
							<input class="post_field" class="form-control" style="border: 1px solid #e2e2e2;" type="text" onchange="page_name_url(this)" id="TextBox1" name="pageName" value="<%= pagedata[val].pageName %>" placeholder="Enter page name here.." runat="server">
							<input type="hidden" name="id" value="<%= pagedata[val]._id %>">
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Page Url*</label>
							<input class="post_field" id="page_url" runat="server" type="text" style="border: 1px solid #c2c2c2;" name="pageUrl" value="<%= pagedata[val].URL %>" placeholder="Enter page url here.." >
							<div style="clear: both;height: 25px;">&nbsp;</div>
							  <label>Banner*</label>
				            <select name="banner_page" style="height: 38px;width: 100%; border:1px solid #c2c2c2;">
				             <% for(value in pagedata){ %>
				              <option value="<%= pagedata[value].banner_page %>"><%= pagedata[value].banner_page %></option>
				              <% } %>
				              <% for(value in all_banner_pages){ %>
				              <option value="<%= all_banner_pages[value] %>"><%= all_banner_pages[value] %></option>
				              <% } %>
				            </select>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Featured image*</label>
							<input class="text" type="file" style="border: 1px solid #c2c2c2;" name="imgUploader" value="backend/image/<%= pagedata[val].featuredImaeg %>" >
							<p style="position: absolute;margin: -36px 290px;">
							<img src="/backend/image/<%= pagedata[val].featuredImaeg %>" alt="img" width="50px" height="50px"></p>
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Short Description*</label>
							<script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
				            <textarea name="content"><%= pagedata[val].contents %></textarea>
				                <script>
				                    CKEDITOR.replace('content', {
					                    "extraPlugins" : 'imagebrowser',
					                    "imageBrowser_listUrl" : "/backend/getFile"
					                  });
				                </script>
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Galery image*</label>
							<input class="text" type="file" name="imgUploader" value="<%= pagedata[val].gallery %>" style="background-color: transparent;width: 96%;" multiple/>
							<div class="image_icon">
								<% for(val_in in pagedata[val].gallery) { %>
									<a class="hidebtn" href="#" >
										<p id="p" style="float: left;" >
											<img src="/backend/image/<%= pagedata[val].gallery[val_in] %>" alt="img" width="50px" height="50px">
										</p>
									</a>
								<% } %>
							</div>
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Full Description*</label>
							<textarea name="message"><%= pagedata[val].message %></textarea>
				                <script>
				                     CKEDITOR.replace('message', {
					                    "extraPlugins" : 'imagebrowser',
					                    "imageBrowser_listUrl" : "/backend/getFile"
					                  });
				                </script>
							 <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Edit Template*</label>
				            <select class="template" name="page_template">
				              <option value="<%= pagedata[val].page_template %>"><%= pagedata[val].page_template %></option>
						      <% } 
						      	for(val_deleted_template in all_templets){
						      %>
						      <option value="<%= all_templets[val_deleted_template] %>"><%= all_templets[val_deleted_template] %></option>
						      <% } %>
				            </select>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Publish/Un-Publish*</label>
				            <select class="publish" name="publish">
				            	<%
				            		if(pagedata[val].publish == "Publish"){
				            	%>
				              <option value="<%= pagedata[val].publish %>"><%= pagedata[val].publish %></option>
				              <option value="Un-Publish">Un-Publish</option>
				              <% } else{ %>
				              <option value="<%= pagedata[val].publish %>"><%= pagedata[val].publish %></option>
				              <option value="Publish">Publish</option>
				              <% } %>
				            </select>

							<!-- SEO Meta data update  here  -->
							<div style="clear: both;height: 25px;">&nbsp;</div>
				            <div class="SEO_tags">SEO Tags</div>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <input type="hidden" name="page_name" value="<%= page_seo_data.page_name %>">
				            <label> SEO Title*</label>
				            <input class="post_field" type="tetx" name="seo_title" value="<%= page_seo_data.seo_title %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <div class="Meta_tags">Meta Tags</div>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Description*</label>
				            <textarea name="seo_description"><%= page_seo_data.seo_descriptions %></textarea>
				                <script>
				                    CKEDITOR.replace('seo_description', {
					                    "extraPlugins" : 'imagebrowser',
					                    "imageBrowser_listUrl" : "/backend/getFile"
					                  });
				                </script>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Keywords*</label>
				            <input class="post_field" type="tetx" name="seo_keywords" value="<%= page_seo_data.seo_keywords %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Canonical*</label>
				            <input class="post_field" type="tetx" name="seo_canonical" value="<%= page_seo_data.seo_canonicals %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <div class="OG_tags">Og Tags</div>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <lable>Og Title*</label>
				            <input class="post_field" type="tetx" name="og_title" value="<%= page_seo_data.og_title %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og Description*</label>
				            <textarea name="og_description"><%= page_seo_data.og_descriptions %></textarea>
				                <script>
				                    CKEDITOR.replace('og_description', {
					                    "extraPlugins" : 'imagebrowser',
					                    "imageBrowser_listUrl" : "/backend/getFile"
					                  });
				                </script>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og Page Url*</label>
				            <input class="post_field" type="tetx" name="og_url" value="<%= page_seo_data.og_urls %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og Type*</label>
				            <input class="post_field" type="tetx" name="og_type" value="<%= page_seo_data.og_types %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og image*</label>
				            <input class="post_field" type="text" name="og_image" value="<%= page_seo_data.og_images %>" style="height:40px;
				            width: 94%;border: 1px solid #c2c2c2;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og Site Name*</label>
				            <input class="post_field" type="tetx" name="og_site_name" value="<%= page_seo_data.og_site_names %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <div class="Twitter_tags">Twitter Tags</div>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <lable>Twitter Title*</label>
				            <input class="post_field" type="tetx" name="twitter_title" value="<%= page_seo_data.twitter_titles %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Twitter Description*</label>
				            <textarea name="twitter_description"><%= page_seo_data.twitter_descriptions %></textarea>
				                <script>
				                    CKEDITOR.replace('twitter_description', {
					                    "extraPlugins" : 'imagebrowser',
					                    "imageBrowser_listUrl" : "/backend/getFile"
					                  });
				                </script>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Twitter Card*</label>
				            <input class="post_field" type="tetx" name="twitter_card" value="<%= page_seo_data.twitter_cards %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Twitter Site*</label>
				            <input class="post_field" type="tetx" name="twitter_site" value="<%= page_seo_data.twitter_sites %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Twitter Creator*</label>
				            <input class="post_field" type="tetx" name="twitter_creator" value="<%= page_seo_data.twitter_creators %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<input type="submit" style="padding:10px 20px;"  class="btn-btn-sm" name="submit" id="btnSubmit" value="submit">
						</form>
					</div>
				</div>
			</div>
		</div>
		<% include ./footer.ejs %>
		<!-- //main -->
		<script type="text/javascript">
	        $(function () {
	          'use strict';
	          (function () {
	            var aside = $('.side-nav'),
	                showAsideBtn = $('.show-side-btn'),
	                contents = $('#contents');
	            showAsideBtn.on("click", function () {
	              $("#" + $(this).data('show')).toggleClass('show-side-nav');
	              contents.toggleClass('margin');
	            });
	            if ($(window).width() <= 767) {
	              aside.addClass('show-side-nav');
	            }
	            $(window).on('resize', function () {
	              if ($(window).width() > 767) {
	                aside.removeClass('show-side-nav');
	              }
	            });
	            // dropdown menu in the side nav
	            var slideNavDropdown = $('.side-nav-dropdown');
	            $('.side-nav .categories li').on('click', function () {
	              $(this).toggleClass('opend').siblings().removeClass('opend');
	              if ($(this).hasClass('opend')) {
	                $(this).find('.side-nav-dropdown').slideToggle('fast');
	                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
	              } else {
	                $(this).find('.side-nav-dropdown').slideUp('fast');
	              }
	            });
	            $('.side-nav .close-aside').on('click', function () {
	              $('#' + $(this).data('close')).addClass('show-side-nav');
	              contents.removeClass('margin');
	            });
	          }());
	        });
	    </script>
		<script type="text/javascript">
				CKEDITOR.replace('editor_gad', {
				  skin: 'moono',
				  enterMode: CKEDITOR.ENTER_BR,
				  shiftEnterMode:CKEDITOR.ENTER_P,
				  toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
				             { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
				             { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
				             { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
				             { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
				             { name: 'links', items: [ 'Link', 'Unlink' ] },
				             { name: 'insert', items: [ 'Image'] },
				             { name: 'spell', items: [ 'jQuerySpellChecker' ] },
				             { name: 'table', items: [ 'Table' ] }
				             ],
				});
				CKEDITOR.replace('editor_content', {
				  skin: 'moono',
				  enterMode: CKEDITOR.ENTER_BR,
				  shiftEnterMode:CKEDITOR.ENTER_P,
				  toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
				             { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
				             { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
				             { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
				             { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
				             { name: 'links', items: [ 'Link', 'Unlink' ] },
				             { name: 'insert', items: [ 'Image'] },
				             { name: 'spell', items: [ 'jQuerySpellChecker' ] },
				             { name: 'table', items: [ 'Table' ] }
				             ],
				});
				CKEDITOR.replace('description', {
		          skin: 'moono',
		          enterMode: CKEDITOR.ENTER_BR,
		          shiftEnterMode:CKEDITOR.ENTER_P,
		          toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
		                     { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
		                     { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
		                     { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
		                     { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
		                     { name: 'links', items: [ 'Link', 'Unlink' ] },
		                     { name: 'insert', items: [ 'Image'] },
		                     { name: 'spell', items: [ 'jQuerySpellChecker' ] },
		                     { name: 'table', items: [ 'Table' ] }
		                     ],
		        });
		      	CKEDITOR.replace('og_description', {
		          skin: 'moono',
		          enterMode: CKEDITOR.ENTER_BR,
		          shiftEnterMode:CKEDITOR.ENTER_P,
		          toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
		                     { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
		                     { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
		                     { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
		                     { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
		                     { name: 'links', items: [ 'Link', 'Unlink' ] },
		                     { name: 'insert', items: [ 'Image'] },
		                     { name: 'spell', items: [ 'jQuerySpellChecker' ] },
		                     { name: 'table', items: [ 'Table' ] }
		                     ],
		        });
		      	CKEDITOR.replace('twitter_description', {
		          skin: 'moono',
		          enterMode: CKEDITOR.ENTER_BR,
		          shiftEnterMode:CKEDITOR.ENTER_P,
		          toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
		                     { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
		                     { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
		                     { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
		                     { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
		                     { name: 'links', items: [ 'Link', 'Unlink' ] },
		                     { name: 'insert', items: [ 'Image'] },
		                     { name: 'spell', items: [ 'jQuerySpellChecker' ] },
		                     { name: 'table', items: [ 'Table' ] }
		                     ],
		        });
		</script>
	</body>
</html>