<html>
<head>
<title>Page data contents</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
  <link rel="stylesheet" type="text/css" href="/backend/js/nav.js">
  <style>
            ul a{
                list-style: none;
            }
          
            /*Image Zoom on Hover*/
            .zoom {
            transition: transform .2s; /* Animation */
            }

          .zoom:hover {
            transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }
          /*nav bar on hover in column*/
            .column a:hover {
              background-color: #ddd;
            }
            .navbar-nav > li:hover .dropdown-menu {
                
                display: inline-block;
                width: 600%;
               
            }            .navbar-nav > li .dropdown-menu li  {
                
                float: left;
                width: 26%;
               margin:10px 20px;
               background-color: #e2e2e2;
            }           .navbar-nav > li .dropdown-menu li:hover  {

               background-color: #ff0000;
            }
              .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
                
               color: #000;
               
            }

            .navbar-inverse{
              border-right: 0;
              border-top: 0;
              border-left: 0;
              border-bottom: 1px solid #eee;
            }

         
</style>
</head>
<body>
<!-- header -->
<section class="header_section">
  <nav class="navbar navbar-inverse" style="background-color: transparent;">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="index" class="active">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/register-here">SignUp</a></li>
        <li class="dropdown" style="background:none"><a href="#">pageName &nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%  for (val in pagename) { %>
              <li class="column"><a href="<%= pagename[val].pageName %>"><%= pagename[val].pageName %></a></li>
            <% } %>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</section>

<!--Our Services-->
      <div style="clear: both;height: 25px;">&nbsp;</div>
<section class="Services_section">
    <div class="container">
            <center><h2 style="color: #337ab7;font-style: italic;font-size: 40px;">Page All Contents Are Here</h2></center>
           <div style="clear: both;height: 25px;">&nbsp;</div>
        <div class="row">
              <%  
                for (val in pagedata) {
                <!-- console.log(pagedata[val].gallery.length);   -->
              %>
            <div class="col-md-12">
                <h2 style="font-style: italic;font-size: 30px;"><a href="<%= pagedata[val].pageName %>"><%= pagedata[val].pageName %></a></h2>
                <div style="clear: both;height: 25px;">&nbsp;</div>
                <img src="/backend/image/<%= pagedata[val].featuredImaeg %>" alt="img" class = "img-responsive" style="width: 100%; height: 400px;">
                <div style="clear: both;height: 25px;">&nbsp;</div>
                <p style="text-align: justify"><%- pagedata[val].contents %></p>
                
            </div>
            <% } %>
        </div>
    </div>
</section>
<!--Our Services End Here-->
<!--Gallery Sexction Start here-->
<div style="clear: both;height: 25px;">&nbsp;</div>
<section class="gallery_section">
  <div class="container">
    <center><h2 style="color: #337ab7;font-style: italic;font-size: 40px;">Gallery Images</h2></center>
    <div style="clear: both;height: 25px;">&nbsp;</div>
    <div class="row">
       <%  
        for (val in pagedata) {
          <!-- console.log(pagedata[val].gallery.length);  --> 
        %>
        <%
            for(val_i in pagedata[val].gallery) {
        %>
      <div class="col-md-3">
          <img src="/backend/image/<%= pagedata[val].gallery[val_i] %>" alt="img"  width="262px" class="zoom" height="150px" style="margin-top: 25px;">
      </div> 
      <%
          }
        %>
        <%
          }
        %>     
    </div>
  </div>
</section>
<!--Contents -->
<div style="clear: both;height: 25px;">&nbsp;</div>
<section class="Contents_section" >
    <div class="container">
        <div class="col-md-12">
            <center><h2>Page Description</h2></center>
            <%  
        for (val_in in pagedata) {
         <!--  console.log(pagedata[val].gallery.length);   -->
        %>
            <p style="text-align: justify"><%= pagedata[val_in].message %></p>
            <%
              }
            %>
        </div>
    </div>
</section>
    <!--Contents-->
    <div style="height: 20px;">&nbsp;</div>
    <!-- Footer -->
<section class="footer_section">
    <footer class="page-footer font-small blue pt-4" style="background: black">
    <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <div style="height: 20px;">&nbsp;</div>
      <!-- Grid row -->
            <div class="row">
<!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                     <h5 class="text-uppercase" style="color: aliceblue">Links</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">Link 1</a>
                      </li>
                      <li>
                        <a href="#!">Link 2</a>
                      </li>
                      <li>
                        <a href="#!">Link 3</a>
                      </li>
                      <li>
                        <a href="#!">Link 4</a>
                      </li>
                    </ul>
                 </div>
                 <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
                        <h5 class="text-uppercase" style="color: aliceblue">Links</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">Link 1</a>
                      </li>
                      <li>
                        <a href="#!">Link 2</a>
                      </li>
                      <li>
                        <a href="#!">Link 3</a>
                      </li>
                      <li>
                        <a href="#!">Link 4</a>
                      </li>
                    </ul>
                </div>
          <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
                     <h5 class="text-uppercase" style="color: aliceblue">Links</h5>

                     <ul class="list-unstyled">
                      <li>
                        <a href="#!">Link 1</a>
                      </li>
                      <li>
                        <a href="#!">Link 2</a>
                      </li>
                      <li>
                        <a href="#!">Link 3</a>
                      </li>
                      <li>
                        <a href="#!">Link 4</a>
                      </li>
                    </ul>
                </div>
          <!-- Grid column -->
            </div>
      <!-- Grid row -->
                <div style="height: 20px;">&nbsp;</div>
        </div>
    <!-- Footer Links -->
            <div class="footer-copyright text-center py-3" style="color: aliceblue">© 2019 Copyright:
              <a href="https://www.skuginsights.com/">SKUG Insights pvt. ltd.</a>
            </div>
            <!-- Copyright -->
    </footer>
</section>
  <!-- Footer -->
</body>
</html>