<!DOCTYPE html>
<html>
<head>
<title>login-here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Custom Theme files -->
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body class="bodyclass">
	<!-- main -->
	<div class="container">
		<h1>page description</h1>
		<div class="row">
			<div class="col-md-4">
			<%  
				for (val in pagedata) {
			%>		
			<h4><%= pagedata[val].name %></h4>
			<img src="image/<%= pagedata[val].featuredImaeg %>">
			<p><%- pagedata[val].contents %></p>
			<%
				for(val_i in pagedata[val].gallery) {
			%>
				<img src="image/<%= pagedata[val].gallery[val_i] %>">
				<%
					}
				%>
<!-- 				<p><%= pagedata[val].message %></p>
 -->			<%
				}
			%>
			</div>
		</div>
		</div>
		<div class="colorlibcopy-agile">
			<p></p>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>