<!-- <!DOCTYPE html> -->
<html lang="en">
  	<head>
	    <meta charset="UTF-8">
	    <title>Edit Post</title>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <script src="/backend/ckeditor/ckeditor.js"></script>
	    <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
	    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
	    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
	     <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	     <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
	    <script type="application/x-javascript">
		      addEventListener("load", function() { 
		        setTimeout(hideURLbar, 0); 
		      }, false); 

		      function hideURLbar(){ 
		        window.scrollTo(0,1); 
		      } 
	    </script>
	    <script>
	        function post_name_url(obj)
	        {
	            var value = obj.value;
	            value = value.replace(/\s+/g, "-").toLowerCase();
	           document.getElementById('post_url').value = value;  
	        }
	    </script>
  	</head>
  	<body style="font-size: 15px;">
  		<% include ./header.ejs %>
		<!-- main -->
		<div class="container-fluid">
	      	<div class="row">
		        <div class="col-md-3 paddings">
          <%	
          		var fullUrl1 = page_url;
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
		        </div>
			    <div class="col-md-9">
			    	<div class="headings1">
	                	<h2 class="heading_view_all_gallery">Edit Post</h2>
	              	</div>
			    	<div style="clear: both;height: 25px">&nbsp;</div>
					<div class="post_update">
						<form action="/backend/post-data-update" id="frmUploader" enctype="multipart/form-data" method="post">
							<label>Post Name*</label>
							<input class="post_field" type="text" value="<%= post_data.postName %>" onchange="post_name_url(this)" id="TextBox1" name="post_name" placeholder="Enter page name here.." runat="server">
							<input type="hidden" name="id" value="<%= post_data._id %>">
							<input type="hidden" name="post_names" value="<%= post_data.postName %>">
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Post Url*</label>
							<input class="post_field" type="text" style="border: 1px solid #c2c2c2;" name="post_url" value="<%= post_data.post_url %>" id="post_url" runat="server" placeholder="Enter page url here..">
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<input type="hidden" name="featured_image" value="<%= post_data.featured_imaeg %>">
							<label>Category*</label>
							<br>
							<div class="post_categories">
							<%
									for(val_cat in post_selected_category_result ) {
									%>
									<input type="checkbox" class="last_hide" name="category" value="<%= post_selected_category_result[val_cat] %>" checked><%= post_selected_category_result[val_cat] %>
									<br>
									<%
								}
							%>
							<%	for(val_unselect in unselected_category ) {
									%>
									<input type="checkbox" name="category" value="<%= unselected_category[val_unselect] %>"><%= unselected_category[val_unselect] %>
									<br>
									<%
								}
							%>
							</div>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Featured image*</label>
							<input class="text" type="file" style="border: 1px solid #c2c2c2;" name="imgUploader" value="/image/<%= post_data.featured_imaeg %>">
							<p style="margin-left: 275px;margin-top: -40px;">
							<img src="/backend/image/<%= post_data.featured_imaeg %>" alt="img" width="50px" height="50px"></p>
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Short Description*</label>
							<textarea name="content"><%= post_data.contents %></textarea>
			                <script>
			                    CKEDITOR.replace('content', {
				                    "extraPlugins" : 'imagebrowser',
				                    "imageBrowser_listUrl" : "/backend/getFile"
				                  });
			                </script>
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Gallery image*</label>
							<input class="text" type="file" name="imgUploader" value="<%= post_data.gallery %>" style="background-color: transparent;width: 96%;" multiple/>
							<div class="image_icon">
								<% for(val_in in post_data.gallery) { %>
								<p style="float: left;"><img src="/backend/image/<%= post_data.gallery[val_in] %>" alt="img" width="50px" height="50px"></p>
								<% } %>
							</div>
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<label>Full Description*</label>
							<textarea name="message"><%= post_data.post_description %></textarea>
			                <script>
			                    CKEDITOR.replace('message', {
				                    "extraPlugins" : 'imagebrowser',
				                    "imageBrowser_listUrl" : "/backend/getFile"
				                  });
			                </script>
			                <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Publish/Un-Publish*</label>
				            <select class="publish" name="publish">
				            	<%
				            		if(post_data.publish == "Publish"){
				            	%>
				              <option value="<%= post_data.publish %>"><%= post_data.publish %></option>
				              <option value="Un-Publish">Un-Publish</option>
				              <% } else{ %>
				              <option value="<%= post_data.publish %>"><%= post_data.publish %></option>
				              <option value="Publish">Publish</option>
				              <% } %>
				            </select>
							<div style="clear: both;height: 25px;">&nbsp;</div>
				            <div class="SEO_tags">SEO Tags</div>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label> SEO Title*</label>
				            <input class="post_field" type="tetx" name="seo_title" value="<%= post_seo.seo_title %>" style="height:40px;width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <div class="Meta_tags">Meta Tags</div>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Description*</label>
				            <textarea name="seo_description"><%= post_seo.seo_descriptions %></textarea>
			                <script>
			                    CKEDITOR.replace('seo_description', {
				                    "extraPlugins" : 'imagebrowser',
				                    "imageBrowser_listUrl" : "/backend/getFile"
				                  });
			                </script>
			                
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Keywords*</label>
				            <input class="post_field" type="tetx" name="seo_keywords" value="<%= post_seo.seo_keywords %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Canonical*</label>
				            <input class="post_field" type="tetx" name="seo_canonical" value="<%= post_seo.seo_canonicals %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <div class="OG_tags">Og Tags</div>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og Title*</label>
				            <input class="post_field" type="tetx" name="og_title" value="<%= post_seo.og_title %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og Description*</label>
				            <textarea name="og_description"><%= post_seo.og_descriptions %></textarea>
			                <script>
			                     CKEDITOR.replace('og_description', {
				                    "extraPlugins" : 'imagebrowser',
				                    "imageBrowser_listUrl" : "/backend/getFile"
				                  });
			                </script>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og Page Url*</label>
				            <input class="post_field" type="tetx" name="og_url" value="<%= post_seo.og_urls %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og Type*</label>
				            <input class="post_field" type="tetx" name="og_type" value="<%= post_seo.og_types %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og image*</label>
				            <input class="post_field" type="text" name="og_image" value="<%= post_seo.og_images %>" style="height:40px;
				            width: 94%;border: 1px solid #c2c2c2;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Og Site Name*</label>
				            <input class="post_field" type="tetx" name="og_site_name" value="<%= post_seo.og_site_names %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <div class="Twitter_tags">Twitter Tags</div>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Twitter Title*</label>
				            <input class="post_field" type="tetx" name="twitter_title" value="<%= post_seo.twitter_titles %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Twitter Description*</label>
				            <textarea name="twitter_description"><%= post_seo.twitter_descriptions %></textarea>
			                <script>
			                    CKEDITOR.replace('twitter_description', {
				                    "extraPlugins" : 'imagebrowser',
				                    "imageBrowser_listUrl" : "/backend/getFile"
				                  });
			                </script>
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Twitter Card*</label>
				            <input class="post_field" type="tetx" name="twitter_card" value="<%= post_seo.twitter_cards %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Twitter Site*</label>
				            <input class="post_field" type="tetx" name="twitter_site" value="<%= post_seo.twitter_sites %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
				            <div style="clear: both;height: 25px;">&nbsp;</div>
				            <label>Twitter Creator*</label>
				            <input class="post_field" type="tetx" name="twitter_creator" value="<%= post_seo.twitter_creators %>" style="height:40px;
				            width: 94%;" placeholder="Enter page url here..">
							<div style="clear: both;height: 25px;">&nbsp;</div>
							<input type="submit" style="padding:10px 20px;"  class="btn-btn-sm" name="submit" id="btnSubmit" value="submit">
						</form>
					</div>
					<div style="clear: both;height: 25px">&nbsp;</div>
				</div>
			</div>
		</div>
		<% include ./footer.ejs %>
		<script type="text/javascript">
	        $(function () {
	          'use strict';

	          (function () {
	            var aside = $('.side-nav'),
	                showAsideBtn = $('.show-side-btn'),
	                contents = $('#contents');
	            showAsideBtn.on("click", function () {
	              $("#" + $(this).data('show')).toggleClass('show-side-nav');
	              contents.toggleClass('margin');
	            });

	            if ($(window).width() <= 767) {
	              aside.addClass('show-side-nav');
	            }
	            $(window).on('resize', function () {
	              if ($(window).width() > 767) {
	                aside.removeClass('show-side-nav');
	              }
	            });

	            // dropdown menu in the side nav
	            var slideNavDropdown = $('.side-nav-dropdown');
	            $('.side-nav .categories li').on('click', function () {
	              $(this).toggleClass('opend').siblings().removeClass('opend');
	              if ($(this).hasClass('opend')) {
	                $(this).find('.side-nav-dropdown').slideToggle('fast');
	                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
	              } else {
	                $(this).find('.side-nav-dropdown').slideUp('fast');
	              }
	            });

	            $('.side-nav .close-aside').on('click', function () {
	              $('#' + $(this).data('close')).addClass('show-side-nav');
	              contents.removeClass('margin');
	            });
	          }());
	        });
	    </script>		
		<!-- //main -->
       
	</body>
</html>