<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Panel</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <!-- Custom styling plus plugins -->
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/icheck/flat/green.css" rel="stylesheet">
  <script src="js/jquery.min.js"></script>
	<style>	body {
      background-image: url("image/bg.jpg");
      background-repeat: repeat-y;
    }
  </style>
</head>
  <body id="particle" >
      <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
          <div id="login" class="animate form">
    	  <img src="image/Logo.png" class="responsive" style="width:90%; padding-left:60px;"/>
            <section class="login_content">
                <form action="/submit-register" method="post" enctype="Multipart/form-data">
                <h1 class="befor"><strong>Registration Form</strong></h1>
                <div>
                  <input type="text" name="name" class="form-control" placeholder="name" required="" />
                </div>
                <div>
                  <input type="text" name="designation" class="form-control" placeholder="designation" required="" />
                </div>
                <div>
                  <input type="email" name="email" class="form-control" placeholder="email" required="" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" title="Example: test@test.com" />
                </div>
                <div>
                  <input type="password" name="password" class="form-control" placeholder="Password" required="" />
                </div>
                <div>
                  <textarea class="form-control"></textarea>
                </div>
                <div style="clear: both;height: 20px;">&nbsp;</div>
                 <div>
                  <input type="file" name="filename" class="form-control" required="" />
                </div>
                <div style="clear: both;height: 20px;">&nbsp;</div>
                <div>
                <button class="btn btn-info btn-lg" style="background-color:#000033;">Submit</button>
                 <!--  <a class="reset_pass" style="color:#000033; font-weight:40px; font-size:15px;" href="#toregister"><strong>Login?</strong></a> -->
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                  </p>
                  <div class="clearfix"></div>
                  <br />
                  <div>
                    <h1><i class="fa fa-toggle-right" style="font-size: 26px;"></i> Skug Insights</h1>
                    <strong>@Copyright Skug Insights.com </strong>
                  </div>
                </div>
              </form>
              <!-- form -->
            </section>
            <!-- content -->
          </div>
          <div id="register" class="animate form">
    	  <img src="image/Logo.png" class="responsive" style="width:90%; padding-left:60px;"/>
            <section class="login_content">
                <form action="../forgetpass" method="post">
                <h1>Forget Password</h1>
                
                <div>
                  <input type="email" class="form-control" name="femail" placeholder="Email" required="" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" title="Example: test@test.com" />
                </div>
                <div>
                  <button class="btn btn-info btn-lg" style="background-color:#000033;">Submit</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                  <a class="change_link" style="color:#000033; font-weight:40px; font-size:15px;"><strong>Got valid details? </strong>
                    <a href="#tologin" class="to_register" style="color:#000033; font-weight:40px; font-size:15px;"><strong>Log In Here</strong></a>
                  </p>
                  <div class="clearfix"></div>
                  <br />
                  <div>
                    <h1><i class="fa fa-toggle-right" style="font-size: 26px;"></i> skug insights</h1>
                    <strong>©Skug insights </strong>
                  </div>
                </div>
              </form>
              <!-- form -->
            </section>
            <!-- content -->
          </div>
        </div>
      </div>
      <script src="js/particles.js"></script>
      <script src="js/app.js"></script>
  </body>
</html>
