  <aside class="side-nav" id="show-side-navigation1">
    <div class="user_profile" style="text-align: center;padding-top: 25px;">
      <div class="img_box" style="padding-bottom: 10px;">
        <img src="/backend/image/<%= active_user_details1.image %>">
      </div>
      <div class="user_name">
        <a href="/backend/edit-user-details?userid=<%= active_user_details1._id %>"><span><i class="fa fa-pencil" aria-hidden="true"></i></span><%= active_user_details1.first_name %></a> <span class="role_type"><%= active_user_details1.user_role %></span>
      </div>
      <span class="dotted_line"></span>
    </div>
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
   <ul class="categories">
        <% 
            if(fullUrl1 == "/backend/admin-dashboard"){
            var dashboard_url = "active_parent_color";
          }
         %>
      <li class="<%= dashboard_url %> icon_removed"><a href="/backend/admin-dashboard"><i class="fa fa-dashboard fa-fw icon_gap"></i>Dashboard</a></li>
      <%    
            if(fullUrl1 == "/backend/add-new-post" || fullUrl1== "/backend/view-all-post" || fullUrl1== "/backend/add-new-category" || fullUrl1== "/backend/view-all-category"){ 
             var post_url = "show";
           }
          %>
      <li><a href="#"><i class="fa fa-file-o fa-fw icon_gap"></i>Post</a>
         <ul class="side-nav-dropdown <%= post_url %>">
          <% 
            if(fullUrl1 == "/backend/add-new-post"){
            var add_post_url = "active_parent_color";
          }
         %>
          <li class="<%= add_post_url %>"><a href="/backend/add-new-post">Add New Post</a></li>
          <% 
            if(fullUrl1 == "/backend/view-all-post"){
            var view_post_url = "active_parent_color";
          }
         %>
          <li class="<%= view_post_url %>"><a href="/backend/view-all-post"> View All Post </a></li>
          <% 
            if(fullUrl1 == "/backend/add-new-category"){
            var cat_post_url = "active_parent_color";
          }
         %>
          <li class="<%= cat_post_url %>"><a href="/backend/add-new-category"> Add New Category </a></li>
          <% 
            if(fullUrl1 == "/backend/view-all-category"){
            var view_cat_post_url = "active_parent_color";
          }
         %>
          <li class="<%= view_cat_post_url %>"><a href="/backend/view-all-category"> View All Category </a></li>
        </ul>
      </li>
       <%    
            if(fullUrl1 == "/backend/add-new-page" || fullUrl1== "/backend/view-all-pages"){ 
             var page_url = "show";
           }
          %>
      <li><a href="#"><i class="fa fa-file-o fa-fw icon_gap" aria-hidden="true"></i>Pages</a>
        <ul class="side-nav-dropdown <%= page_url %>">
          <% 
            if(fullUrl1 == "/backend/add-new-page"){
            var add_page_url = "active_parent_color";
          }
         %>
          <li class="<%= add_page_url %>"><a href="/backend/add-new-page"> Add New Pages</a></li>
          <% 
            if(fullUrl1 == "/backend/view-all-pages"){
            var view_page_url = "active_parent_color";
          }
         %>
          <li class="<%= view_page_url %>"><a href="/backend/view-all-pages">View All Pages</a></li>
        </ul>
      </li>
      <%    
            if(fullUrl1 == "/backend/add-new-gallery" || fullUrl1== "/backend/view-all-gallery"){ 
             var gallery_url = "show";
           }
          %>
      <li><a href="#"><i class="fa fa-image fa-fw icon_gap" aria-hidden="true"></i>Gallery</a>
        <ul class="side-nav-dropdown <%= gallery_url %>">
          <% 
            if(fullUrl1 == "/backend/add-new-gallery"){
            var add_gallery_url = "active_parent_color";
          }
         %>
          <li class="<%= add_gallery_url %>"><a href="/backend/add-new-gallery"> Add New Gallery</a></li>
           <% 
            if(fullUrl1 == "/backend/view-all-gallery"){
            var view_gallery_url = "active_parent_color";
          }
         %>
          <li class="<%= view_gallery_url %>"><a href="/backend/view-all-gallery">View All Gallery</a></li>
        </ul>
      </li>
      <%    
        if(fullUrl1 == "/backend/add-new-nav-menu" || fullUrl1== "/backend/view-all-nav-menu"){ 
         var menu_url = "show";
       }
      %>
        <%
          if( active_user_details1.user_role == "Administrator"){
        %>
      <li><a href="#"><i class="fa fa-user fa-fw icon_gap" aria-hidden="true"></i>Menu</a>
        <ul class="side-nav-dropdown <%= menu_url %>">
          <% 
            if(fullUrl1 == "/backend/add-new-nav-menu"){
            var add_menu_url = "active_parent_color";
          }
         %>
          <li class="<%= add_menu_url %>"><a href="/backend/add-new-nav-menu">Add New Nav</a></li>
          <% 
            if(fullUrl1 == "/backend/view-all-nav-menu"){
            var view_menu_url = "active_parent_color";
          }
         %>
          <li class="<%= view_menu_url %>"><a href="/backend/view-all-nav-menu">View All Nav</a></li>
        </ul>
      </li>
       <%    
        if(fullUrl1 == "/backend/add-new-user" || fullUrl1== "/backend/view-all-users"){ 
         var user_url = "show";
       }
      %>
      <li><a href="#"><i class="fa fa-user fa-fw icon_gap" aria-hidden="true"></i>User</a>
        <ul class="side-nav-dropdown <%= user_url %>">
          <% 
            if(fullUrl1 == "/backend/add-new-user"){
            var add_user_url = "active_parent_color";
          }
         %>
          <li class="<%= add_user_url %>"><a href="/backend/add-new-user"> Add New User</a></li>
          <% 
            if(fullUrl1 == "/backend/view-all-users"){
            var view_user_url = "active_parent_color";
          }
         %>
          <li class="<%= view_user_url %>"><a href="/backend/view-all-users">View All User</a></li>
        </ul>
      </li>
      <% 
        if(fullUrl1 == "/backend/add-site-settings"){
        var view_site_url = "active_parent_color";
      }
       %>
      <li class="icon_removed"><i class="fa fa-cog" aria-hidden="true"></i>
        <a href="/backend/add-site-settings">Site Settings</a>
      </li>
      <% }else{} %>
      <%
        if(fullUrl1 == "/backend/add-new-banner-image" || fullUrl1 == "/backend/view-all-banners" || fullUrl1 == "/backend/edit-banner-image" || fullUrl1 == "/backend/add-more-banner-images"){ 
         var banner = "show";
       }
      %>
      <li><a href="#"><i class="fa fa-user fa-fw icon_gap" aria-hidden="true"></i>Banner</a>
        <ul class="side-nav-dropdown <%= banner %>">
          <% 
              if(fullUrl1 == "/backend/add-new-banner-image"){
              var add_banner = "active_parent_color";
            }
          %>          
          <li class="<%= add_banner %>"><a href="/backend/add-new-banner-image"> Add Banner</a></li>
          <% 
              if(fullUrl1 == "/backend/view-all-banners"){
              var view_banner = "active_parent_color";
            }
          %>
          <li class="<%= view_banner %>"><a href="/backend/view-all-banners">View All Banner</a></li>
        </ul>
      </li>
      <li class="icon_removed"><i class="fa fa-power-off fa-fw icon_gap" aria-hidden="true"></i><a href="/backend/log-in">LogOut</a></li>
    </ul>
  </aside>