<!DOCTYPE html>
<html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/backend/css/custum.css">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/jquery.form.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body class="bodyclass">
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Creative SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<!--Form 1 Normal Registration Form begins here -->
				<form action="/submit" id="frmUploader" enctype="multipart/form-data" method="post">
					<input class="text" type="text" name="Username" placeholder="Username" >
					<div style="clear: both;height: 25px;">&nbsp;</div>
					<input class="text" type="text" name="Designation" placeholder="Designation" >
					<input class="text" type="file" name="imgUploader">
					<input class="text email" type="email" name="email" placeholder="Email" >
					<input class="text" type="password" name="password" placeholder="Password">
					<input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" >
					<textarea class="text" name="comment"></textarea>
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit"  class="form-control" name="submit" id="btnSubmit" value="Upload">
				</form>
				<!--Form 1 Normal Registration Form begins here -->
				<p>Don't have an Account? <a href="#"> Login Now!</a></p>
			</div>
		</div>
		<div>
			<p><a href="/show">Show here</a></p>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p></p>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>