<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Add New User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="/backend/css/custum_admin.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 
      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
    <script>
      function randomPassword(length) {
          var chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
          var pass = "";
          for (var x = 0; x < length; x++) {
              var i = Math.floor(Math.random() * chars.length);
              pass += chars.charAt(i);
          }
          return pass;
      }
      function generate() {
        $( "#generate_password").val(randomPassword(8));
      }  
    </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
      <!-- container fluid begins -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 paddings">
          <%  
          var fullUrl1 = page_url;
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
        </div>
        <div class="col-md-9">
          <div class="headings1">
            <h2 class="heading_view_all_gallery">Add New User</h2>
          </div>
  				<form action="/backend/user-registration" id="frmUploader" enctype="multipart/form-data" method="post">
  					<label>First Name*</label>
  					<input class="post_field" class="form-control" required="" type="text"  name="first_name" placeholder="Enter first name here..">
  					<div style="clear: both;height: 25px;">&nbsp;</div>
  					<label>Last Name*</label>
  					<input class="post_field" type="tetx" required="" style="width: 96%; border:1px solid #c2c2c2;padding: 9px;" name="last_name" placeholder="Enter last name here..">
  					<div style="clear: both;height: 25px;">&nbsp;</div>
  					<label>User Id*</label>
            <input class="post_field" type="tetx" required="" style="width: 96%; border:1px solid #c2c2c2;padding: 9px;" name="user_id" placeholder="Enter user id here..">
             <div style="clear: both;height: 25px;">&nbsp;</div>
            <label> Generate Password*</label>
           <span><input name="password" id="generate_password" type="text" size="40" style="height: 38px;width: 93.2%; border:1px solid #c2c2c2; color: #000;">
            <button type="button" onClick="generate();" tabindex="2" class="btn btn-sm button4">Generate</button></span>
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <label> User Email*</label>
            <input class="text" type="tetx" required="" name="email" style="height: 38px;width: 100%; border:1px solid #c2c2c2;" placeholder="Enter email here..">
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <label>User Mobile*</label>
            <input class="text" type="tetx" required="" name="mobile" style="height: 38px;width: 100%; border:1px solid #c2c2c2;" placeholder="Enter mobile no here..">
            <div style="clear: both;height: 25px;">&nbsp;</div>
             <label>User Role*</label>
            <select name="user_role" style="height: 38px;width: 100%; border:1px solid #c2c2c2;">
              <option value="-1">Select-Here</option>
              <option value="Administrator">Administrator</option>
              <option value="Editor">Editor</option>
              <option value="Subscriber">Subscriber</option>
              <option value="Costomers">Costomers</option>
            </select>
            <div style="clear: both;height: 25px;">&nbsp;</div>
            <label>User Image*</label>
  					<input class="user_img" type="file" required="" name="imgUploader1">
  					<div style="clear: both;height: 25px;">&nbsp;</div>
  					<input type="submit"  class="btn-btn-sm" name="submit" id="btnSubmit" value="submit">
  					<div style="clear: both;height: 25px;">&nbsp;</div>
  				</form>
			  </div>
		  </div>
	  </div>
    <% include ./footer.ejs %>
    <script type="text/javascript">
        $(function () {
          'use strict';

          (function () {
            var aside = $('.side-nav'),
                showAsideBtn = $('.show-side-btn'),
                contents = $('#contents');
            showAsideBtn.on("click", function () {
              $("#" + $(this).data('show')).toggleClass('show-side-nav');
              contents.toggleClass('margin');
            });

            if ($(window).width() <= 767) {
              aside.addClass('show-side-nav');
            }
            $(window).on('resize', function () {
              if ($(window).width() > 767) {
                aside.removeClass('show-side-nav');
              }
            });

            // dropdown menu in the side nav
            var slideNavDropdown = $('.side-nav-dropdown');
            $('.side-nav .categories li').on('click', function () {
              $(this).toggleClass('opend').siblings().removeClass('opend');
              if ($(this).hasClass('opend')) {
                $(this).find('.side-nav-dropdown').slideToggle('fast');
                $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
              } else {
                $(this).find('.side-nav-dropdown').slideUp('fast');
              }
            });

            $('.side-nav .close-aside').on('click', function () {
              $('#' + $(this).data('close')).addClass('show-side-nav');
              contents.removeClass('margin');
            });
          }());
        });
    </script>
  </body>
</html>
