<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>All Post Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.0.js" integrity="sha256-D6d1KSapXjq2tfZ6Ie9AYozkRHyB3fT2ys9mO2+4Wvc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 
      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
    <!-- container fluid begins -->
    <div class="container-fluid" id="for_search">
      <div class="row">
        <div class="col-md-3 paddings">
          <%  
          var fullUrl1 = page_url;
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <div class="add_new_gallery">
                <a href="/backend/add-new-post-category"><button>Add New Category</button></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="headings">
                <h2 class="heading_view_all_gallery">View All Categories</h2>
              </div>
            </div>
            <div class="col-md-5">
              <div class="search_box">
                &nbsp;
              </div>
            </div>
          </div>
          <div class="page-header">
              <div class="form-group">
                  <fieldset>
                      <form action="" class="form-group" method="post">
                          <div class="table-responsive">
                              <div class="table-responsive">                            
                                  <table id="escalation" class="table table-striped table-bordered" cellspacing="0">
                                      <thead>
                                          <tr>
                                              <th>Category Title</th>
                                              <th>Category Slug</th>
                                              <th>Category Description</th>
                                              <th>Edit Action</th>
                                              <%
                                                if( active_user_details1.user_role == "Administrator"){
                                              %>
                                              <th>Del. Action</th>
                                              <% }else{} %>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <%  for (val in post_category) { %>
                                          <tr>
                                              <td><%= post_category[val].category_name %></td>
                                              <td><%= post_category[val].category_slug  %></td>
                                              <%
                                                var cate_description =  post_category[val].category_description.substring(0, 150);
                                              %>
                                              <td><%- cate_description  %></td>
                                              <td><a href="/backend/edit-post-category-page?cid=<%= post_category[val]._id %>">
                                              <button type="button" class="btn btn-sm button1">Edit</button></a>
                                              </td> 
                                              <%
                                                if( active_user_details1.user_role == "Administrator"){
                                              %>
                                              <td> <a href="/backend/delete-post-category?cid=<%= post_category[val]._id %>"> <button type="button" class="btn btn-sm button2">Delete</button>
                                            </a>
                                             </td>
                                             <% }else{} %>
                                          </tr>
                                          <% } %>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </form>            <!--END OF FORM ^^-->
                  </fieldset>
              </div>
              <!-- <hr /> -->
          </div>
        </div>
      </div>
    </div>
    <% include ./footer.ejs %>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#escalation').DataTable();
    });
    </script>

           <script type="text/javascript">
                $(function () {
                  'use strict';
                  (function () {
                    var aside = $('.side-nav'),
                        showAsideBtn = $('.show-side-btn'),
                        contents = $('#contents');
                    showAsideBtn.on("click", function () {
                      $("#" + $(this).data('show')).toggleClass('show-side-nav');
                      contents.toggleClass('margin');
                    });
                    if ($(window).width() <= 767) {
                      aside.addClass('show-side-nav');
                    }
                    $(window).on('resize', function () {
                      if ($(window).width() > 767) {
                        aside.removeClass('show-side-nav');
                      }
                    });
                    // dropdown menu in the side nav
                    var slideNavDropdown = $('.side-nav-dropdown');
                    $('.side-nav .categories li').on('click', function () {
                      $(this).toggleClass('opend').siblings().removeClass('opend');
                      if ($(this).hasClass('opend')) {
                        $(this).find('.side-nav-dropdown').slideToggle('fast');
                        $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
                      } else {
                        $(this).find('.side-nav-dropdown').slideUp('fast');
                      }
                    });
                    $('.side-nav .close-aside').on('click', function () {
                      $('#' + $(this).data('close')).addClass('show-side-nav');
                      contents.removeClass('margin');
                    });
                  }());
                });
           </script>
  </body>
</html>