<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>View all Post </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.0.js" integrity="sha256-D6d1KSapXjq2tfZ6Ie9AYozkRHyB3fT2ys9mO2+4Wvc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 
      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
    <div class="container-fluid" id="for_search">
      <div class="row">
        <div class="col-md-3 paddings">
          <%
          var fullUrl1 = page_url;
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
             <div class="add_new_gallery">
                <a href="/backend/add-new-post"><button>Add New Post</button></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="headings">
                <h2 class="heading_view_all_gallery">View All Post </h2>
              </div>
            </div>
            <div class="col-md-5">
              &nbsp;
            </div>
          </div>    
          <div class="page-header">
              <div class="form-group">
                  <fieldset>
                      <form action="" class="form-group" method="post">
                          <div class="table-responsive">
                              <div class="table-responsive">                            
                                  <table id="escalation" class="table table-striped table-bordered" cellspacing="0">
                                      <thead>
                                          <tr>
                                              <th>Title</th>
                                              <th>Featured image</th>
                                              <th>Edit Action</th>
                                              <%
                                                if( active_user_details1.user_role == "Administrator"){
                                              %>
                                              <th>Del. Action</th>
                                              <% } else{ }%>
                                              <th>Preview</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                       <%  for (val in post_page) { %>
                                          <tr>
                                              <td><%= post_page[val].postName %></td>
                                              <td>
                                                <img src="/backend/image/<%= post_page[val].featured_imaeg %>" alt="img" style="width: 100px;height: 50px;">
                                              </td>
                                              <td>
                                                <a href="/backend/post-update?pid=<%= post_page[val]._id %>&pname=<%= post_page[val].postName %>"><button type="button" class="btn btn-sm button1">Edit</button>
                                                </a>
                                              </td>
                                              <%
                                                if( active_user_details1.user_role == "Administrator"){
                                              %>
                                              <td>
                                                <a href="/backend/delete-post-page?pid=<%= post_page[val]._id %>&pname=<%= post_page[val].postName %>">
                                                <button type="button" class="btn btn-sm button2">Delete</button>
                                              </a>
                                              </td>
                                              <% } else{ }%>
                                              <td>
                                                <a href="/backend/post-description?post_url=<%= post_page[val].post_url %>">
                                                  <button type="button" class="btn btn-sm button3">preview</button>
                                                </a>
                                              </td>
                                          </tr>
                                          <% } %>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </form>            <!--END OF FORM ^^-->
                  </fieldset>
              </div>
              <!-- <hr /> -->
          </div>
           <script type="text/javascript">
                $(function () {
                  'use strict';
                  (function () {
                    var aside = $('.side-nav'),
                        showAsideBtn = $('.show-side-btn'),
                        contents = $('#contents');
                    showAsideBtn.on("click", function () {
                      $("#" + $(this).data('show')).toggleClass('show-side-nav');
                      contents.toggleClass('margin');
                    });
                    if ($(window).width() <= 767) {
                      aside.addClass('show-side-nav');
                    }
                    $(window).on('resize', function () {
                      if ($(window).width() > 767) {
                        aside.removeClass('show-side-nav');
                      }
                    });
                    // dropdown menu in the side nav
                    var slideNavDropdown = $('.side-nav-dropdown');
                    $('.side-nav .categories li').on('click', function () {
                      $(this).toggleClass('opend').siblings().removeClass('opend');
                      if ($(this).hasClass('opend')) {
                        $(this).find('.side-nav-dropdown').slideToggle('fast');
                        $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
                      } else {
                        $(this).find('.side-nav-dropdown').slideUp('fast');
                      }
                    });
                    $('.side-nav .close-aside').on('click', function () {
                      $('#' + $(this).data('close')).addClass('show-side-nav');
                      contents.removeClass('margin');
                    });
                  }());
                });
           </script>
           <script type="text/javascript">
            $(document).ready(function () {
                $('#escalation').DataTable();
            });
          </script>
        </div>
      </div>
    </div>
    <% include ./footer.ejs %>
  </body>
</html>