<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>All Gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.0.js" integrity="sha256-D6d1KSapXjq2tfZ6Ie9AYozkRHyB3fT2ys9mO2+4Wvc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/backend/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="application/x-javascript">
      addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); 
      }, false); 
      function hideURLbar(){ 
        window.scrollTo(0,1); 
      } 
    </script>
  </head>
  <body style="font-size: 15px;">
    <% include ./header.ejs %>
    <!-- container fluid begins -->
    <div class="container-fluid" id="for_search">
      <div class="row">
        <div class="col-md-3 paddings">
          <%  
          var fullUrl1 = page_url;
              var active_user_details1 = active_user_details;
          %>
          <%- include ./sidebar.ejs %>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <div class="add_new_gallery">
                <a href="/backend/add-new-gallery"><button>Add New Gallery</button></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="headings">
                <h2 class="heading_view_all_gallery">View All Gallery</h2>
              </div>
            </div>
            <div class="col-md-5">
              <div class="search_box">
                &nbsp;
              </div>
            </div>
          </div>
          <div class="page-header">
              <div class="form-group">
                  <fieldset>
                      <form action="" class="form-group" method="post">
                          <div class="table-responsive">
                              <div class="table-responsive">                            
                                  <table id="escalation" class="table table-striped table-bordered" cellspacing="0">
                                      <thead>
                                          <tr>
                                              <th>Title</th>
                                              <th>Page</th>
                                              <th>Gallery Image</th>
                                              <th>Edit Action</th>
                                              <%
                                                if( active_user_details1.user_role === "Administrator"){
                                              %>
                                              <th>Del. Action</th>
                                              <% } else{ }%>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <%  for (val in gallery_contents) { %>
                                          <tr>
                                              <td><%= gallery_contents[val].title %></td>
                                              <td><%= gallery_contents[val].ptype  %></td>
                                              <td>
                                                <%
                                                  for (val_in in gallery_contents[val].gallery) { 
                                                %>
                                                <div class="gallery-img gallery_image_hide" style="padding-top: 5px;">
                                                  <img  src="/backend/image/<%= gallery_contents[val].gallery[val_in] %>" alt="img" style="width: 100px;height: 50px;">
                                                <div class="delete_gallery">
                                                  <a href="/backend/delete-gallery-images?id=<%= gallery_contents[val]._id %>&img_url=<%= gallery_contents[val].gallery[val_in] %>">
                                                    <i class="fa fa-close fa-lg" style="color: #ec1515;padding:5px;font-size: 20px; background: #2ea5db;border-radius: 50%;margin: -9px -8px;">
                                                    </i>
                                                  </a>
                                                </div>
                                                <div class="edit_gallery">
                                                  <a href="/backend/edit-gallery-images-img?id=<%= gallery_contents[val]._id %>&img_url=<%=  gallery_contents[val].gallery[val_in] %>">
                                                    <i class="fa fa-pencil fa-lg" style="color: #ec1515;padding:5px;font-size: 20px; background: #2ea5db;border-radius: 50%;margin-left: -93px;margin-top: -10px;">
                                                    </i>
                                                  </a>
                                                </div>
                                              </div>
                                              <% } %>
                                              </td>
                                              
                                              <td>
                                                <a href="/backend/add-more-image?id=<%= gallery_contents[val]._id %>">
                                                  <button type="button" class="btn btn-sm button3">Add More</button></a>
                                              </td>
                                              <%
                                                if( active_user_details1.user_role == "Administrator"){
                                              %>
                                              <td><a href="/backend/delete-gallery-data?id=<%= gallery_contents[val]._id %>"> <button type="button" class="btn btn-sm button2">Delete</button>
                                                </a> 
                                              </td>
                                              <% } else{ }%>
                                          </tr>
                                          <% } %>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </form>            <!--END OF FORM ^^-->
                  </fieldset>
              </div>
              <!-- <hr /> -->
          </div>
        </div>
      </div>
    </div>
    <% include ./footer.ejs %>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#escalation').DataTable();
    });
    </script>

           <script type="text/javascript">
                $(function () {
                  'use strict';
                  (function () {
                    var aside = $('.side-nav'),
                        showAsideBtn = $('.show-side-btn'),
                        contents = $('#contents');
                    showAsideBtn.on("click", function () {
                      $("#" + $(this).data('show')).toggleClass('show-side-nav');
                      contents.toggleClass('margin');
                    });
                    if ($(window).width() <= 767) {
                      aside.addClass('show-side-nav');
                    }
                    $(window).on('resize', function () {
                      if ($(window).width() > 767) {
                        aside.removeClass('show-side-nav');
                      }
                    });
                    // dropdown menu in the side nav
                    var slideNavDropdown = $('.side-nav-dropdown');
                    $('.side-nav .categories li').on('click', function () {
                      $(this).toggleClass('opend').siblings().removeClass('opend');
                      if ($(this).hasClass('opend')) {
                        $(this).find('.side-nav-dropdown').slideToggle('fast');
                        $(this).siblings().find('.side-nav-dropdown').slideUp('fast');
                      } else {
                        $(this).find('.side-nav-dropdown').slideUp('fast');
                      }
                    });
                    $('.side-nav .close-aside').on('click', function () {
                      $('#' + $(this).data('close')).addClass('show-side-nav');
                      contents.removeClass('margin');
                    });
                  }());
                });
           </script>
  </body>
</html>