<!DOCTYPE html>
<html>
<head>
	<title></title>
     <% 
      if(seo_data.seo_title != "" || seo_data.seo_descriptions != ""){
      <!-- for(meta in site_settings){ -->
      %>
      <meta name="title" content="<%= seo_data.seo_title %>">
      <meta name="description" content="<%= seo_data.seo_descriptions %>">

      <% }else{ 
        for(meta in site_settings){
      %>
      <meta name="title" content="<%= site_settings[meta].meta_title %>">
      <meta name="description" content="<%= site_settings[meta].meta_description %>">
      <% } } %>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
.carousel .item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
	margin-left: 20px;
}
div#testimonial {
    padding: 30px;
}
.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #18225fad;
	padding: 15px;
	margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
	background: #9b9b9b;
	box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .item .row > div:first-child .testimonial {
	margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
	margin-left: 0;
}
.carousel .testimonial p {
	text-indent: 40px;
    line-height: 21px;
	margin: 0;
}
/*.carousel .testimonial p::before {
	content: '\94';
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}*/
.details {
    color: #fff;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #fff;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
    background: #666;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 16px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right {
	left: auto;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 0;
	margin: 1px 4px;
}
.wow {
  visibility: hidden;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #ff5555;    
    border: 5px double;    
}
.star-rating li {
	padding: 0 2px;
}
.star-rating i {
	font-size: 14px;
	color: #fff;
}
.fadeinleft {
    opacity:0;
    margin-left:-300px;
    max-width:100%;
}

		/*

Landing Zero theme - A free landing page theme from BootstrapZero
http://www.bootstrapzero.com

*/
.accordian {
	width: 805px; height: 320px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 1200px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}
.stories_headings h1 {
    font-size: 22px;
    font-weight: 600;
}
.stories_contents p {
    font-size: 15px;
    color: #000;
}
.solutions_img.fadeinleft img {
    border-radius: 3%;
}
.background_box {
    padding: 3em;
    background: #373f6a;
}
.inner_background{
	background: #71748569!important;
}
section.footer_section {
    background: #1a1e3a;
    color: #fff;
    padding: 20px 0;
}
  section.footer_coppy_rights {
    background: #313550;
    padding: 10px 0;
}
  .coppy_rights p {
    margin-bottom: 0;
    color: #fff;
}
.privacy p {
    margin-bottom: 0;
    color: #fff;
}
  .footer_item i {
    padding: 0 5px;
}
  .item_icon {
    font-size: 24px;
    padding: 0 5px;
}
  .footer_icon_box {
    text-align: center;
    display: flex;
}
  .footer_col_heading h2 {
    font-size: 16px;
    font-weight: 600;
}
.footer_item {
    font-size: 14px;
    padding-top: 5px;
}
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}
.navbar-default {
    border-color: transparent;
    background-color: #1a1e3a9e!important;
    min-height: 60px;
}
.blg_headings h1 {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    text-align: center;
}
.blog_image img {
    border-radius: 5px;
    box-shadow: 0 0 3px #e2e2e2;
}
hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}
.fadein {
    opacity:0;
}

hr.light {
    border-color: #fff;
}
.portfolio_headings h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

a {
    color: #9c27b0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}
.navbar-nav {
    float: right!important;
    margin: 0;
}

.no-padding {
    padding: 0;
}
.our_portfolio {
    padding: 30px;
    color: #fff;
    background: /* top, transparent #101010 */ linear-gradient( rgba(14, 14, 14, 0.82), rgba(25, 24, 24, 0.82) ),url(C:/Users/ranja/Desktop/image/bs3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
section.testimonial {
    padding: 30px;
    color: #fff;
    background: /* top, transparent #101010 */ linear-gradient( rgba(14, 14, 14, 0.45), rgba(25, 24, 24, 0.45) ),url(C:/Users/ranja/Desktop/image/bs3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header > .navbar-brand {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #9c27b0;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #8b27b0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #9c27b0;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #9c27b0 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}
@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
        padding: 19px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }
.blog_headings h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #9c27b0;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #8b27b0;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #9c27b0;
    }
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
  height: 100%;
  background: #000;
}

.carousel-caption{padding-bottom:80px;}

h2{font-size: 60px;}
p{padding:10px}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:0.6;
}
section.testimonial {
    padding: 30px 0;
}
section.our_stories {
    padding: 25px 0;
}
section.blog {
    padding-top: 10px;
    padding-bottom: 20px;
}

.headings h2 {
    font-size: 18px;
    font-weight: 600;
}
/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
</style>
<script type="text/javascript">
	$(window).on("load",function() {
	  $(window).scroll(function() {
	    var windowBottom = $(this).scrollTop() + $(this).innerHeight();
	    $(".fade").each(function() {
	      /* Check the location of each desired element */
	      var objectBottom = $(this).offset().top + $(this).outerHeight();
	      
	      /* If the element is completely within bounds of the window, fade it in */
	      if (objectBottom < windowBottom) { //object comes into view (scrolling down)
	        if ($(this).css("opacity")==0) {$(this).fadeTo(500,1);}
	      } else { //object goes out of view (scrolling up)
	        if ($(this).css("opacity")==1) {$(this).fadeTo(500,0);}
	      }
	    });
	  }).scroll(); //invoke scroll-handler on page-load
	});
	$(document).ready(function() {
    $(window).scroll( function(){
        $('.fadeinleft').each( function(i){
      var bottom_of_element = $(this).offset().top + $(this).outerHeight();
       var bottom_of_window = $(window).scrollTop() + $(window).height();
            if( bottom_of_window > bottom_of_element ){
               $(this).animate({'opacity':'1','margin-left':'0px'},1000);
            }
             
        });
    });
});
$(document).ready(function() {
    $(window).scroll( function(){
        $('.fadein').each( function(i){
       var bottom_of_element = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();       
            if( bottom_of_window > bottom_of_element ){
                $(this).animate({'opacity':'1'},1000);
            }
        });
    });
});
$( document ).ready(function() {
  new WOW().init();
});
$( ".wow" ).addClass( "fadeInUp" );
</script>
</head>
<body>
  <!-- Full Page Image Background Carousel Header -->
  <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <%
                var banner = "active";
                var banner_files = banners.banner_files;

                  for(value in banner_files) {
                    if(value <= 3) {
            %>
            <div class="item active <%= banner %>">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/backend/image/<%= banner_files[value] %>');"></div>
                <div class="carousel-caption">
                     <h2 class="animated fadeInLeft">Caption Animation</h2>
                     <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                     <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large">Learn More</a></p>
                </div>
            </div>
            <%
                  banner ++;
                } }
             %>
        </div>
        <!-- Controls -->
        <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a> -->
   </div>
      <section class="our_portfolio">
   	<div class="container-fluid">
   		<div class="portfolio_headings">
   			<h1>Our Solutions</h1>
   		</div>
   		<div class="row">
 			<div class="col-sm-5">
 				<div class="background_box fadeinleft">
 					<div class="solutions_img">
	 					<img src="/backend/image/<%= page_details.featuredImaeg %>" class="img-responsive">
	 				</div>
 				</div>
 			</div>
 			<div class="col-sm-7 fadeinleft">
 				<div class="headings">
 					<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
 				</div>
 				<div class="solution_contents">
 					<p><%- page_details.contents %></p>
 				</div>
 			</div>
   		</div>
   	</div>
   </section>
   <section class="our_stories">
	   	<div class="container-fluid w3-container w3-center w3-animate-bottom">
	   		<div class="stories_headings">
	   			<h1>Lorem Ipsum</h1>
	   		</div>
	   		<div class="stories_contents fadein">
	   			<p><%- page_details.message %></p>
	   		</div>
	   	</div>
   </section>
   <section class="blog">
	   	<div class="container-fluid">
	   		<div class="blog_headings">
	   			<h1>Lorem Ipsum</h1>
	   		</div>
	   		<div class="row">
                <%
                    for(data in post_details){
                %>
	   			<div class="col-sm-3 fadeinleft">
	   				<div class="blg_headings">
	   					<h1><%= post_details[data].postName %></h1>
	   				</div>
	   				<div class="blog_image">
	   					<img src="/backend/image/<%= post_details[data].featured_imaeg %>" alt="" class="img-responsive">
	   				</div>
	   				<div class="blog_description">
	   					<p><%- post_details[data].contents %></p>
	   				</div>
	   			</div>
                <% } %>
	   		</div>
	   	</div>
   </section>
<section class="testimonial">
	<div class="container-fluid">
		<div class="row">
			<div id="testimonial" class="carousel slide" data-ride="carousel">
					<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#testimonial" data-slide-to="0" class="active"></li>
					<li data-target="#testimonial" data-slide-to="1"></li>
					<li data-target="#testimonial" data-slide-to="2"></li>
				</ol>   
				<div class="carousel-inner inner_background">
					<div class="item carousel-item active">
						<div class="row">
							<div class="col-sm-6">
								<div class="testimonial">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante.</p>
								</div>
								<div class="media">
									<div class="media-left d-flex mr-3">
										<img src="C:/Users/ranja/Desktop/image/bss1.jpg" alt="">										
									</div>
									<div class="media-body">
										<div class="overview">
											<div class="name"><b>Paula Wilson</b></div>
											<div class="details">Media Analyst / SkyNet</div>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>										
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="testimonial">
									<p>Vestibulum quis quam ut magna consequat faucibu. Eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus quam.</p>
								</div>
								<div class="media">
									<div class="media-left d-flex mr-3">
										<img src="C:/Users/ranja/Desktop/image/bss1.jpg" alt="">
									</div>
									<div class="media-body">
										<div class="overview">
											<div class="name"><b>Antonio Moreno</b></div>
											<div class="details">Web Developer / SoftBee</div>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>			
					</div>
					<div class="item carousel-item">
						<div class="row">
							<div class="col-sm-6">
								<div class="testimonial">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante.</p>
								</div>
								<div class="media">
									<div class="media-left d-flex mr-3">
										<img src="C:/Users/ranja/Desktop/image/bss1.jpg" alt="">										
									</div>
									<div class="media-body">
										<div class="overview">
											<div class="name"><b>Michael Holz</b></div>
											<div class="details">Web Developer / DevCorp</div>											
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>										
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="testimonial">
									<p>Vestibulum quis quam ut magna consequat faucibu. Eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus quam.</p>
								</div>
								<div class="media">
									<div class="media-left d-flex mr-3">
										<img src="C:/Users/ranja/Desktop/image/s2.jpg" alt="">										
									</div>
									<div class="media-body">
										<div class="overview">
											<div class="name"><b>Mary Saveley</b></div>
											<div class="details">Graphic Designer / MarsMedia</div>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>			
					</div>
					<div class="item carousel-item">
						<div class="row">
							<div class="col-sm-6">
								<div class="testimonial">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante.</p>
								</div>
								<div class="media">
									<div class="media-left d-flex mr-3">
										<img src="C:/Users/ranja/Desktop/image/bss2.jpg" alt="">										
									</div>
									<div class="media-body">
										<div class="overview">
											<div class="name"><b>Martin Sommer</b></div>
											<div class="details">SEO Analyst / RealSearch</div>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>										
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="testimonial">
									<p>Vestibulum quis quam ut magna consequat faucibu. Eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus quam.</p>
								</div>
								<div class="media">
									<div class="media-left d-flex mr-3">
										<img src="C:/Users/ranja/Desktop/image/bn2.jpg" alt="">										
									</div>
									<div class="media-body">
										<div class="overview">
											<div class="name"><b>John Williams</b></div>
											<div class="details">Web Designer / UniqueDesign</div>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>			
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>