<!DOCTYPE html>
<html>
<head>
  <title>Home | Default Theme</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    img{
      width:100%;
      max-width:100%;
    }

    .navbar {
        position: fixed;
        width: 100%;
        background: #020202c9;
        padding: 1.5em;
        z-index: 10;
        border:none;
    }
    .blog_post h2 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    .navbar-nav {
        float: right;
    }
    .navbar-default .navbar-nav > li > a{
      color:#000;
      
    }
    /*.footer_coppy p {
        text-align: center;
    }*/
    .navbar-left {
        float: right!important;
    }
    .navbar-default .navbar-nav > li > a {
      color: #fff;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background: #009688;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        height: 45em;
        overflow: hidden;
    }
    .description_headings{
      text-align: center;
    }
    .contents p{
      font-size: 14px;
    }
    .contents p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #000;
    }
    section.footer_section {
        padding: 30px 0;
        background: #000;
    }
    .featured_image {
        padding: 2px;
        border: 2px solid #a5a5a5;
        /*box-shadow: 0 0 5px #000;*/
    }
    .featured_image:hover{
       transform: scale(1.1); 
    }
    .menu_item {
        font-size: 16px;
        color: #fff;
        padding: 5px 0;
    }
    .footer_coppy {
        color: #fff;
    }
    .footer_sub_headings {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
    }
    section.coppy_rights_sections {
        background: #2f2f2f;
        padding: 20px 0!important;
    }
    .privacy {
        text-align: right;
        color: #fff;
    }
    .privacy p {
        margin: 0;
    }
    .footer_coppy p {
        margin: 0;
    }
    .menu_itemspan{
      padding-right: 5px;
    }
    .follow_icon {
        display: flex;
        padding: 10px 0;
        color: #fff;
    }
    .fb_icon {
        font-size: 30px;
        padding-right: 25px;
    }
    .tw_icon {
        font-size: 30px;
        padding-right: 25px;
    }
    .ins_icon {
        font-size: 30px;
        padding-right: 25px;
    }
    .pin_icon {
        font-size: 30px;
        /*padding-right: 25px;*/
    }
    .follow_us {
        color: #fff;
        padding-top: 10px;
        font-size: 20px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          Classic Theme
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <%
            for(val in menu_item.page_name){
          %>
          <li><a href="#"><%= menu_item.page_name[val] %><span class="sr-only">(current)</span></a></li>
          <% } %>
        </ul>
        <!-- <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <%
        var banner = "active";
        var banner_files = banners.banner_files;

          for(value in banner_files) {
          if(value <= 3) {
      %>
      <div class="item <%= banner %>">
        <img src="/backend/image/<%= banner_files[value] %>" alt="..." class="img-responsive">
        <!-- <div class="carousel-caption">
          Caption 1
        </div> -->
      </div>
      <%
          banner ++;
        } }
      %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <section class="about_us">
    <div class="container">
      <div class="description_headings">
        <h1>About Us</h1>
      </div>
        <div class="contents">
          <p><%- page_details.contents %></p>
        </div>
    </div>
  </section>
  <section class="post_contenst" style="padding: 30px 0;">
    <div class="container">
        <div class="row">
          <%
            for(data in post_details){
          %>
          <div class="col-sm-3">
            <div class="blog_post">
              <h2><%= post_details[data].postName %></h2>
            </div>
           <a href="">
            <div class="featured_image">
              <img src="/backend/image/<%= post_details[data].featured_imaeg %>" alt="..." class="img-responsive">
            </div>
          </a>
            <div class="blog_description">
              <p><%- post_details[data].contents %></p>
            </div>
          </div>
        <% } %>
    </div>
  </section>
  <section class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%
            for(val in menu_item.page_name){
          %>
          <div class="menu_item">
            <%= menu_item.page_name[val] %>
          </div>
          <% } %>
        </div>
        <div class="col-sm-3">
          <%
            for(name in post_details){
          %>
          <div class="menu_item">
            <%= post_details[name].postName %>
          </div>
          <% } %>
        </div>
        <div class="col-sm-3">
          <div class="footer_sub_headings">
            Lorem Ipsum
          </div>
          <div class="menu_item">
            Lorem Ipsum
          </div>
          <div class="menu_item">
            Lorem Ipsum
          </div>
          <div class="menu_item">
            Lorem Ipsum
          </div>
          <div class="menu_item">
            Lorem Ipsum
          </div>
          <div class="menu_item">
            Lorem Ipsum
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer_sub_headings">
            Contact Us
          </div>
          <div class="menu_item">
            <span><i class="fa fa-envelope-o menu_itemspan"></i>support@skuginsights.com</span>
          </div>
          <div class="follow_us">
            Follow Us On
          </div>
          <div class="follow_icon">
            <div class="fb_icon">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </div>
            <div class="tw_icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="ins_icon">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="pin_icon">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="coppy_rights_sections">
    <div class="container">
      <div class="col-sm-6">
        <div class="footer_coppy">
          <%
              for(value in site_settings){
            %>
            <p><%= site_settings[value].footer_settings %></p>
          <% } %>
        </div>
      </div>
      <!-- <div class="col-md-4">&nbsp;</div> -->
      <div class="col-sm-6">
        <div class="privacy">
          <p>Privacy Policy / Terms and Condition / Sitemap </p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>