  <footer class="container">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-3">
  				<%
			        for(val in menu_items.page_name){
			    %>
  				<a href="#">
  					<div class="footer_contents">
	  					<%= menu_items.page_name[val] %>
	  				</div>
	  			</a>
  				<% } %>
  			</div>
  			<div class="col-md-9">
  				&nbsp;
  			</div>
  		</div>
  	</div>
    <p class="float-right"><a href="#">Back to top</a></p>
    <%
    	for(value in site_setting){
    %>
    <div class="footer_coppy_rights">
    	<p><%= site_setting[value].footer_settings %> <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
    <% } %>
  </footer>