<nav class="navigation">
  <div class="container">
    <div class="logo">
      <% 
      <!-- console.log(site_settings); -->
      for(logo in site_setting){
       %>
      <img src="/backend/image/<%= site_setting[logo].logo %>" width="60%">
      <% } %>
    </div>
    <ul class="navigation-links">
      <%
        for(val in menu_items.page_name){
        for(value_in in menu_items.page_slug){
      %>
        <li><a href="../<%= menu_items.page_slug[value_in] %>"><%= menu_items.page_name[val] %> </a></li>
        <% } %>
      <% } %>
    </ul>
  </div>
</nav>