<!DOCTYPE html>
<html>
<head>
  <title>Right-Sidebar-Template</title>
  <% 
      if(seo_data.seo_title != "" || seo_data.seo_descriptions != ""){
  <!-- for(meta in site_settings){ -->
  %>
  <meta name="title" content="<%= seo_data.seo_title %>">
  <meta name="description" content="<%= seo_data.seo_descriptions %>">

  <% }else{ 
    for(meta in site_settings){
  %>
  <meta name="title" content="<%= site_settings[meta].meta_title %>">
  <meta name="description" content="<%= site_settings[meta].meta_description %>">
  <% } } %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
  section.footer_coppy_rights {
    background: #313550;
    padding: 10px 0;
}
  .coppy_rights p {
    margin-bottom: 0;
    color: #fff;
}
.privacy p {
    margin-bottom: 0;
    color: #fff;
}
  .footer_item i {
    padding: 0 5px;
}
  .item_icon {
    font-size: 24px;
    padding: 0 5px;
}
  .footer_icon_box {
    text-align: center;
    display: flex;
}
  .footer_col_heading h2 {
    font-size: 16px;
    font-weight: 600;
}
.footer_item {
    font-size: 14px;
    padding-top: 5px;
}
  section.footer_section {
    background: #070d31;
    color: #fff;
    padding: 20px 0;
}
  .our_port_pollio h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 4px 0;
    text-align: center;
}
.our_port_pollio hr {
    margin: 0 auto;
    border-bottom: 2px solid;
    width: 11em;
}
.col-lg-3.col-md-4.col-xs-6.thumb img {
    border-radius: 4px;
}
.col-lg-3.col-md-4.col-xs-6.thumb {
    margin-bottom: 10px;
    padding: 0 0 0 15px;
}
.our_port_pollio {
    padding-bottom: 20px;
}
  .nav_item_box {
    display: flex;
}
/*.col-md-3.postioned {
    position: fixed;
    top: 66px;
}*/
.home:hover {
    background-color: #fff;
    color: #1a1e3a;
    cursor: pointer;
    border-radius: 7px;
}
.About_Us:hover{
  background-color: #fff;
    color: #1a1e3a;
    cursor: pointer;
    border-radius: 7px;
}
.services:hover{
  background-color: #fff;
    color: #1a1e3a;
    cursor: pointer;
    border-radius: 7px;
}
.contact_us:hover{
  background-color: #fff;
    color: #1a1e3a;
    cursor: pointer;
    border-radius: 7px;
}
.home {
    padding: 10px 20px;
    font-size: 14px;
}
.About_Us{
    padding: 10px 20px;
    font-size: 14px;
}
.col-lg-3.col-md-4.col-xs-6.thumb.right {
    padding-right: 15px;
}
.services{
    padding: 10px 20px;
    font-size: 14px;
}
.contact_us{
    padding: 10px 20px;
    font-size: 14px;
}
  .nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #eae9e9;
  /*position: fixed;*/
  top: 0px;
  width: 235px;
  height: 700px;
  color: #e1ffff;
}
.logo h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    font-weight: 700;
}
.nav-side-menu {
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #0e1231;
    position: sticky;
    top: 5.5em;
    width: 223px;
    right: 13px;
    height: 700px;
}
section.header_section {
    background: #0e1231;
    position: sticky;
    padding: 10px 0;
    top: 0;
    color: #fff;
    z-index: 9999;
}
.nav-side-menu .brand {
  background-color: #0e1231
  line-height: 50px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
section.sider_bar_body_section {
    margin: 5px 0;
}
/*.nav-side-menu ul .active, .nav-side-menu li .active {
    border-left: 3px solid #03A9F4;
    background-color: #fff;
}*/
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #fff;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #fff;
}
.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
    border: none;
    color: #fff;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li a:hover,
.nav-side-menu li .sub-menu li a:hover {
  background-color: #fff;
}
.our_stories hr {
    border-bottom: 2px solid;
    width: 10em;
    margin: 0 auto;
}
/*.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover {
    background-color: #000;
    border-left: 3px solid #03A9F4;
    color: #fff;
}*/
.our_stories h1 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.blog_headings h2 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.blog_contents p {
    padding: 10px 0;
    color: #000;
    font-size: 14px;
}
.nav-side-menu ul .sub-menu li a:before,
.nav-side-menu li .sub-menu li a:before {
  font-family: Fontawesome;
  content: "\f105";
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  padding: 3px 0;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
ul#service li:hover {
    background: #fff;
    color: #0e1231;
}
/*.nav-side-menu li:hover {
  background-color: #000;
  border-left: 3px solid #03A9F4;
  background-color: #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}*/
.nav-side-menu li a:hover {
    color: #0e1231!important;
    background: #fff;
    display: block;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.nav-side-menu ul .sub-menu ul .sub-line li.active,
.nav-side-menu li .sub-menu li .sub-line li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li .sub-line li.active a,
.nav-side-menu li .sub-menu li .sub-line li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li .sub-line li,
.nav-side-menu li .sub-menu li .sub-line li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li .sub-line li:hover,
.nav-side-menu li .sub-menu li .sub-line li:hover {
  background-color: #000;
}
.nav-side-menu ul .sub-menu li .sub-line li:before,
.nav-side-menu li .sub-menu li .sub-line li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 100px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu .sub-menu li {
  padding-left: 20px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu .sub-menu li a {
  text-decoration: none;
}
.sub-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li .sub-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
 .nav-side-menu .sub-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
.nav-side-menu  .sub-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  
  .sub-line ul .sub-press li.active,
.sub-line li .sub-press li.active {
  color: #fff;
  background-color: #000;
}

.sub-line ul .sub-press li.active a,
.sub-line li .sub-press li.active a {
  color: #fff;
  background-color: #000;
}
.sub-line ul .sub-press li,
.sub-line li .sub-press li {
  background-color: #000;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .active, .nav-side-menu li .active {
    border-left: 3px solid #03A9F4;
    background-color: #fff;
}
.sub-line ul .sub-press li:hover,
.sub-line li .sub-press li:hover {
  background-color: #000;
}
.sub-line ul .sub-press li:before,
.sub-line li .sub-press li:before {
  font-family: Arial;
  content: "\f105";
  display: inline-block;
  padding-left: 50px;
  padding-right: 10px;
  vertical-align: middle;
}

.sub-line li {
  padding-left: 20px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.sub-line li a {
  text-decoration: none;
  color: #000;
}
.home:last-child {
    display: none;
}
.sub-line li a i {
  padding-left: 50px;
  width: 20px;
  padding-right: 20px;
}
.sub-line li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .sub-line {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .sub-line .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #000;
    color: #fff;
    width: 40px;
    text-align: center;
  }
  .nav_item_box {
    display: flex!important;
  }
  section.header_section {
    padding: 30px 0;
    background: #000;
    color: #fff;
}
</style>
<script type="text/javascript">
      $(document).ready(function(){
        $(".fancybox").fancybox({
              openEffect: "none",
              closeEffect: "none"
          });
          
          $(".zoom").hover(function(){
          
          $(this).addClass('transition');
        }, function(){
              
          $(this).removeClass('transition');
        });
      });

    </script>
</head>
<body>
  <section class="header_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="logo">
            <% 
            <!-- console.log(site_settings); -->
              for(logo in site_settings){
             %>
             <img src="/backend/image/<%= site_settings[logo].logo %>" width="60%">
            <% } %>
            <!-- <h1>Logo</h1> -->
          </div>
        </div>
        <div class="col-md-3">
          &nbsp;
        </div>
        <div class="col-md-7">
          <div class="nav_item_box">
            <%
              for(val in menu_item.page_name){
            %>
            <div class="home">
              <%= menu_item.page_name[val] %>
            </div>
            <% } %>
            <!-- <div class="About_Us">
              About Us
            </div>
            <div class="services">
              Solutions
            </div>
            <div class="services">
              Pricing
            </div>
            <div class="services">
              Resources
            </div>
            <div class="contact_us">
              Contact Us 
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sider_bar_body_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10">
          <div id="demo" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <%
                  var banner = "active";
                  var banner_files = banners.banner_files;

                    for(value in banner_files) {
                      if(value <= 3) {
                %>
                <div class="carousel-item active <%= banner %>">
                  <img src="/backend/image/<%= banner_files[value] %>" alt="Los Angeles" width="1100" height="500">
                </div>
                <%
                      banner ++;
                    } }
                 %>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
          </div>
          <div class="our_stories">
            <h1>Our Stories</h1>
            <hr>
            <p><%- page_details.contents %></p>
          </div>
          <div class="row">
            <%
                for(data in post_details){
            %>
            <div class="col-sm-3">
              <div class="blog_headings">
                <h2><%= post_details[data].postName %></h2>
              </div>
              <div class="blog_img">
                <img src="/backend/image/<%= post_details[data].featured_imaeg %>" alt="" class="img-responsive">
              </div>
              <div class="blog_contents">
                <p><%- post_details[data].contents %></p>
              </div>
            </div>
            <% } %>
          </div>
          <div class="our_port_pollio">
            <h1>Our Portfolio</h1>
            <hr>
          </div>
          <div class="row">
            <%
              for(val_in in page_details.gallery){
            %>
            <div class="col-sm-4 thumb">
                <a href="/backend/image/<%= page_details.gallery[val_in]%>" class="fancybox" rel="ligthbox">
                    <img  src="/backend/image/<%= page_details.gallery[val_in]%>" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <% } %>
          </div>
        </div>
      <div class="col-sm-2 postioned" style="padding: 0;">
        <div class="nav-side-menu">
          <div class="brand">Lorem Ipsum</div>
          <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
              <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                      <a href="#">
                      <i class="fa fa-dashboard fa-lg"></i> Home
                      </a>
                    </li>
                    <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                      <a href="#"><i class="fa fa-gift fa-lg"></i> Solutions <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="products">
                        <li class="active"><a href="#">Bussines Insights</a></li>
                        <li><a href="#">Email Marketing</a></li>
                    </ul>
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                      <a href="#"><i class="fa fa-globe fa-lg"></i> Resources <span class="arrow"></span></a>
                    </li>  
                    <ul class="sub-menu collapse" id="service">
                      <li>Our Integrations </li>
                      <li>Our Customers</li>
                      <li>Our Partners</li>
                    </ul>
                   <!--  <li data-toggle="collapse" data-target="#new" class="collapsed">
                      <a href="#"><i class="fa fa-car fa-lg"></i> Contact Us <span class="arrow"></span></a>
                    </li> -->
                     <li>
                      <a href="#">
                      <i class="fa fa-user fa-lg"></i> About Us
                      </a>
                      </li> 
                      <li>
                      <a href="#">
                      <i class="fa fa-user fa-lg"></i> Careers
                      </a>
                      </li> 
                      <li>
                      <a href="#">
                      <i class="fa fa-user fa-lg"></i> Contact Us
                      </a>
                      </li>
                     <!-- <li data-toggle="collapse" data-target="#new" class="collapsed">
                      <a href="#"><i class="fa fa-car fa-lg"></i> User Details <span class="arrow"></span></a>
                    </li> -->
                </ul>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer_col_heading">
            <h2>Lorem Ipsum</h2>
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer_col_heading">
            <h2>Lorem Ipsum</h2>
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
          <div class="footer_item">
            Lorem Ipsum
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer_col_heading">
            <h2>Lorem Ipsum</h2>
          </div>
          <div class="footer_item">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer_col_heading">
            <h2>Contact Us</h2>
          </div>
          <div class="footer_item">
            <i class="fa fa-envelope-o menu_itemspan"></i>support@skuginsights.com
          </div>
          <div class="footer_col_heading">
            <h2>Follow Us On</h2>
          </div>
          <div class="footer_icon_box">
            <div class="item_icon">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </div>
            <div class="item_icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="item_icon">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="item_icon">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer_coppy_rights">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="coppy_rights">
            <%
              for(value in site_settings){
            %>
              <p><%= site_settings[value].footer_settings %></p>
            <% } %>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="privacy">
            <p>Privacy Policy / Terms and Condition / Sitemap </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>